# Data Gathering

In [1]:
from utils.io import dataframe_viewer, files_search, data_merger, data_validation, data_overview, \
data_filter, fix_duplicates

import re, os
import numpy as np
import pandas as pd
import datetime as dtm
from definitions import ROOT_DIR

In [2]:
def create_df(files, verbose=True): # find another name for this function
    """
    create dataframes from files and test if they contain position informations
    files: list of files name
    """
    dfs = []
    for f in files:
        df = pd.read_csv(f, delimiter=',')
        dfs.append(df)
        
        if verbose:
            if 'X' in list(df.columns): msg = ' --> Coordinates'
            else: msg = ' --> No coordinates'

            print(f"df1 : {msg}")
            
    return dfs

## Reading files

In [3]:
work_dir = ROOT_DIR+'/CF_data/Result_traitem/'
save_dir = ROOT_DIR+'/CF_data/Donnees_fusionnees/'

In [4]:
# create my dictionary structure to retrieve good files (Keynames !!!)
files_dict={'Borehole':0,'Piezometer':0,'Piezair':0,'Trench':0,'Litho':0,'Equipm':0,
        'Measure':0,'Sample':0,'Analysis':0,'Facility':0}

In [5]:
files_search(work_dir, files_dict, prefix='', skip='source')

Borehole  	:  13
Piezometer  	:  18
Piezair  	:  3
Trench  	:  1
Litho  	:  12
Equipm  	:  7
Measure  	:  11
Sample  	:  35
Analysis  	:  44
Facility  	:  4

In [6]:
how=['inner', 'outer', 'left', 'right']

In [7]:
f = False
t = True

# PIEZOMETERS PROCESSING

In [8]:
key='Piezometer'
save_file = f'Merged_Piezometers.csv'
coi=['ID','ID_date','X','Y','Z','Type','Long_for','Diam_for','Refus'] #columns of interest
dataset = pd.DataFrame()
print(len(files_dict[key]), 'files')

18 files

In [9]:
files_dict[key]

['/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/Liste_XY/Sol_Eau_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/Memoris_seafile/Result_eau_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/Phase_1_Memoris/Result_eau_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/Phase_2_Memoris/Result_eau_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/Siterem_Ext_Pilote/Inorganic_major_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/database_Memoris3/Donnees_piezos_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/database_Memoris3/Drains_Pz_ENEL_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/database_Memoris3/Profils_sol_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/database_Memoris3/Result_eau_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/database_Memoris3/Result_sol_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/donnees_terrain_2019/Donnees_forage_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/donnees_terrain_2019/Equipement_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/donnees_terrain_2019/Log_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/profils_sols_donnees_forages/Equipement_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/profils_sols_donnees_forages/donnees_forage_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/profils_sols_donnees_forages/piezometrie_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/vUmons_logsFor/Analyse_eau_Phases1&2_Piezometers.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/vUmons_logsFor/Analyse_sol_Phases1&2_Piezometers.csv']

In [10]:
data_overview(files_dict[key])

Same files:[(4, 10)]
Files with coordinates:[0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 14, 16, 17]
Files without coordinates:[7, 11, 12, 13, 15]

#### $\color{green}{\textbf{Read and merge}}$

In [11]:
file1= work_dir + 'Phase_1_Memoris/Result_eau_Piezometers.csv' # 2
file2= work_dir + 'Memoris_seafile/Result_eau_Piezometers.csv' # 1  

df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> Coordinates
df1 :  --> Coordinates
Rows : 14, columns : 10, Unique values on col 'ID': 14

interactive(children=(IntSlider(value=3, description='rows', max=14, min=3, readout=False), IntSlider(value=10…

Rows : 30, columns : 9, Unique values on col 'ID': 30

interactive(children=(IntSlider(value=3, description='rows', max=30, min=3, readout=False), IntSlider(value=9,…

(None, None)

In [12]:
fix_duplicates(df1, df2, drop_old_id=True)

0 duplicate objects fixed!

In [13]:
mdf, conflict_df=data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

#### First object dataset save

In [14]:
dataset = mdf.copy() #saving

In [15]:
dataframe_viewer(dataset, rows=3, un_val='ID', view=t)

Rows : 42, columns : 11, Unique values on col 'ID': 42

interactive(children=(IntSlider(value=3, description='rows', max=42, min=3, readout=False), IntSlider(value=11…

#### $\color{green}{\textbf{Read and merge}}$

In [16]:
file1= work_dir + 'database_Memoris3/Donnees_piezos_Piezometers.csv' # 4
file2= work_dir + 'Liste_XY/Sol_Eau_Piezometers.csv' # 0  


df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> Coordinates
df1 :  --> Coordinates
Rows : 117, columns : 13, Unique values on col 'ID': 117

interactive(children=(IntSlider(value=3, description='rows', max=117, min=3, readout=False), IntSlider(value=1…

Rows : 257, columns : 6, Unique values on col 'ID': 254

interactive(children=(IntSlider(value=3, description='rows', max=257, min=3, readout=False), IntSlider(value=6…

(None, None)

In [17]:
df1, check1 = data_filter(df1, position=True, id_col='ID', expression='sup|prof', dist_max=1, drop=True, drop_old_id=True)

some data must be checked !
Rows : 117 ; Columns : 13 ; Unique on 'ID' : 104 ;

In [18]:
df2, check2 = data_filter(df2, position=True, id_col='ID', expression='sup|prof', dist_max=1, drop=True)

some data must be checked !
Rows : 257 ; Columns : 6 ; Unique on 'ID' : 245 ;

In [19]:
df2

        ID      Nappe           X           Y Type_ech   Type
0      160      Socle  152395.000  122839.000      Eau  Piezo
1      160      Socle  152395.000  122839.000      Eau  Piezo
2      502      Socle  152365.000  122855.000      Eau  Piezo
3      502  Alluvions  152366.396  122857.132      Eau  Piezo
4      508      Socle  152467.000  122850.000      Eau  Piezo
..     ...        ...         ...         ...      ...    ...
252    520        NaN  152644.000  122791.000      Sol  Piezo
253    524        NaN  152570.000  122789.000      Sol  Piezo
254    525        NaN  152548.000  122783.000      Sol  Piezo
255    526        NaN  152553.000  122757.000      Sol  Piezo
256  FP117        NaN  152750.000  122781.000      Sol  Piezo

[257 rows x 6 columns]

In [20]:
fix_duplicates(df1, df2)

0 duplicate objects fixed!

In [21]:
mdf, conflict_df=data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

Conflict values present. Please resolve this manually !

#### $\color{blue}{\textbf{Manage conflicts}}$

In [22]:
conflict_df

    Check_col    ID                     Nappe_x    Nappe_y
64      Nappe  FP49                 Remblai_All      Socle
65      Nappe  FP49                 Remblai_All      Socle
72      Nappe  FP14  All_limoneuses_graveleuses  Alluvions
73      Nappe  FP14  All_limoneuses_graveleuses  Alluvions
74      Nappe  FP14                    Remblais  Alluvions
75      Nappe  FP14                    Remblais  Alluvions
81      Nappe  FP63                    Remblais      Socle
82      Nappe  FP63                    Remblais      Socle
85      Nappe  FP76                    Remblais      Socle
86      Nappe  FP76                    Remblais      Socle
88      Nappe   501                 Remblai_All   remblais
90      Nappe   509               All_limoneuse  Alluvions
91      Nappe   510               All_limoneuse  Alluvions
92      Nappe   511                 Remblai_All   remblais
94      Nappe   513                 Remblai_All   remblais
96      Nappe   528                 Remblai_All   remblais
98      Nappe   522                 Remblai_All   remblais
104     Nappe   534               All_limoneuse  Alluvions
110     Nappe   537               All_limoneuse  Alluvions
111     Nappe   536               All_limoneuse  Alluvions
112     Nappe   543               All_limoneuse  Alluvions
122     Nappe   539               All_limoneuse  Alluvions
124     Nappe   533  All_limoneuses_graveleuses  Alluvions
127     Nappe   502  All_limoneuses_graveleuses      Socle
129     Nappe   512                 Remblai_All      Socle
132     Nappe   595                       Socle  Alluvions
133     Nappe   595  All_limoneuses_graveleuses  Alluvions
134     Nappe   595                    Remblais  Alluvions
135     Nappe   540               All_limoneuse   remblais
136     Nappe   540               All_limoneuse  Alluvions
138     Nappe   540                    Remblais  Alluvions

In [23]:
data_validation(overall_data=mdf, conflict_data=conflict_df, index_col='index', 
                valid_dict={'Nappe_y':list(conflict_df.index)[:18]})

Validation done, but conflicts remain!

In [24]:
conflict_df

    Check_col   ID                     Nappe_x    Nappe_y
110     Nappe  537               All_limoneuse  Alluvions
111     Nappe  536               All_limoneuse  Alluvions
112     Nappe  543               All_limoneuse  Alluvions
122     Nappe  539               All_limoneuse  Alluvions
124     Nappe  533  All_limoneuses_graveleuses  Alluvions
127     Nappe  502  All_limoneuses_graveleuses      Socle
129     Nappe  512                 Remblai_All      Socle
132     Nappe  595                       Socle  Alluvions
133     Nappe  595  All_limoneuses_graveleuses  Alluvions
134     Nappe  595                    Remblais  Alluvions
135     Nappe  540               All_limoneuse   remblais
136     Nappe  540               All_limoneuse  Alluvions
138     Nappe  540                    Remblais  Alluvions

#### Merge with object dataset

In [25]:
dataset, conflict_df=data_merger(dataset, mdf, how=how[1], on='ID', dist_max=1)

In [26]:
if 'level_0' in dataset.columns:
    if 'index' in dataset.columns:
        dataset.drop(columns='index', inplace=True)
    dataset.rename(columns={'level_0':'index'}, inplace=True)

In [27]:
dataframe_viewer(dataset, rows=10, un_val='ID', view=t)

Rows : 409, columns : 20, Unique values on col 'ID': 360

interactive(children=(IntSlider(value=10, description='rows', max=409, min=10, readout=False), IntSlider(value…

#### $\color{green}{\textbf{Read and merge}}$

In [28]:
file1= work_dir + 'Phase_2_Memoris/Result_eau_Piezometers.csv' # 3
file2= work_dir + 'database_Memoris3/Drains_Pz_ENEL_Piezometers.csv' # 5  


df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> Coordinates
df1 :  --> Coordinates
Rows : 10, columns : 9, Unique values on col 'ID': 10

interactive(children=(IntSlider(value=3, description='rows', max=10, min=3, readout=False), IntSlider(value=9,…

Rows : 6, columns : 6, Unique values on col 'ID': 6

interactive(children=(IntSlider(value=3, description='rows', max=6, min=3, readout=False), IntSlider(value=6, …

(None, None)

In [29]:
mdf, conflict_df=data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

#### Merge with object dataset

In [30]:
dataset, conflict_df=data_merger(dataset, mdf, how=how[1], on='ID', dist_max=1)

In [31]:
if 'level_0' in dataset.columns:
    if 'index' in dataset.columns:
        dataset.drop(columns='index', inplace=True)
    dataset.rename(columns={'level_0':'index'}, inplace=True)

In [32]:
dataframe_viewer(dataset, rows=10, un_val='ID', view=t)

Rows : 420, columns : 21, Unique values on col 'ID': 369

interactive(children=(IntSlider(value=10, description='rows', max=420, min=10, readout=False), IntSlider(value…

#### $\color{green}{\textbf{Read and merge}}$

In [33]:
file1= work_dir + 'donnees_terrain_2019/Donnees_forage_Piezometers.csv' # 9
file2= work_dir + 'database_Memoris3/Result_eau_Piezometers.csv' # 7  

df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> Coordinates
df1 :  --> Coordinates
Rows : 3, columns : 18, Unique values on col 'ID': 3

interactive(children=(IntSlider(value=3, description='rows', max=3, min=3, readout=False), IntSlider(value=12,…

Rows : 117, columns : 13, Unique values on col 'ID': 117

interactive(children=(IntSlider(value=3, description='rows', max=117, min=3, readout=False), IntSlider(value=1…

(None, None)

In [34]:
df1.ID = df1.ID.astype(str)
df2.ID = df2.ID.astype(str)

In [35]:
df2, check = data_filter(df2, position=True, id_col='ID', expression='sup|prof', dist_max=1, drop=True, drop_old_id=True)

some data must be checked !
Rows : 117 ; Columns : 13 ; Unique on 'ID' : 104 ;

In [36]:
dataframe_viewer(df2, rows=10, un_val='ID', view=t)

Rows : 117, columns : 13, Unique values on col 'ID': 104

interactive(children=(IntSlider(value=10, description='rows', max=117, min=10, readout=False), IntSlider(value…

In [37]:
fix_duplicates(df1, df2)

0 duplicate objects fixed!

In [38]:
mdf, conflict_df=data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

#### Merge with object dataset

In [39]:
dataset, conflict_df=data_merger(dataset, mdf, how=how[1], on='ID', dist_max=1)

Conflict values present. Please resolve this manually !

#### $\color{blue}{\textbf{Manage conflicts}}$

In [40]:
conflict_df

,Check_col,ID,Nappe_x,Nappe_y,Long_crep_x,Long_crep_y,Long_pz_x,Long_pz_y,Diam_int_pz_x,Diam_int_pz_y,Zsol_x,Zsol_y
101,"Nappe, Long_crep",FP49,Socle,Remblai_All,8.0,5.0,NaN,NaN,41.0,41.0,NaN,NaN
103,"Nappe, Long_crep",FP49,Socle,Remblai_All,8.0,5.0,NaN,NaN,41.0,41.0,NaN,NaN
104,Long_crep,FP49,NaN,Socle,5.0,8.0,NaN,NaN,41.0,41.0,NaN,NaN
106,Long_crep,FP49,Socle,Socle,5.0,8.0,NaN,NaN,41.0,41.0,NaN,NaN
107,Nappe,FP49,Socle,Remblai_All,5.0,5.0,NaN,NaN,41.0,41.0,NaN,NaN
114,"Long_pz, Long_crep, Diam_int_pz",FP14,NaN,Remblais,2.0,4.0,7.225,4.301,41.0,25.0,102.320,102.320
116,"Long_pz, Long_crep, Diam_int_pz",FP14,NaN,Remblais,2.0,4.0,7.225,4.301,41.0,25.0,102.320,102.320
117,"Long_pz, Long_crep, Diam_int_pz",FP14,NaN,All_limoneuses_graveleuses,4.0,2.0,4.301,7.225,25.0,41.0,102.320,102.320
119,"Long_pz, Long_crep, Diam_int_pz",FP14,NaN,All_limoneuses_graveleuses,4.0,2.0,4.301,7.225,25.0,41.0,102.320,102.320
122,"Nappe, Long_pz, Long_crep, Diam_int_pz",FP160,Socle,Remblai_All,5.0,4.0,14.222,4.793,41.0,25.0,103.810,103.810
123,"Nappe, Long_pz, Long_crep, Diam_int_pz",FP160,Remblai_All,Socle,4.0,5.0,4.793,14.222,25.0,41.0,103.810,103.810
126,"Nappe, Long_pz, Long_crep",FP63,Socle,Remblais,2.0,3.0,14.472,3.357,41.0,41.0,102.803,102.803
128,"Nappe, Long_pz, Long_crep",FP63,Socle,Remblais,2.0,3.0,14.472,3.357,41.0,41.0,102.803,102.803
129,"Nappe, Long_pz, Long_crep",FP63,Alluvions,Socle,3.0,2.0,3.357,14.472,41.0,41.0,102.803,102.803
130,Nappe,FP63,Alluvions,Remblais,3.0,3.0,3.357,3.357,41.0,41.0,102.803,102.803
131,"Nappe, Long_pz, Long_crep",FP63,Alluvions,Socle,3.0,2.0,3.357,14.472,41.0,41.0,102.803,102.803
132,Nappe,FP63,Alluvions,Remblais,3.0,3.0,3.357,3.357,41.0,41.0,102.803,102.803
134,"Nappe, Long_pz",FP76,Socle,Remblais,5.0,5.0,18.550,6.503,41.0,41.0,102.730,102.730
136,"Nappe, Long_pz",FP76,Socle,Remblais,5.0,5.0,18.550,6.503,41.0,41.0,102.730,102.730
137,Long_pz,FP76,NaN,Socle,5.0,5.0,6.503,18.550,41.0,41.0,102.730,102.730
139,Long_pz,FP76,NaN,Socle,5.0,5.0,6.503,18.550,41.0,41.0,102.730,102.730
142,Nappe,501,Socle,Remblai_All,2.0,2.0,9.690,9.690,25.0,25.0,110.040,110.040
146,Nappe,511,Socle,Remblai_All,4.0,4.0,4.310,4.310,41.0,41.0,103.790,103.790
147,Nappe,513,Socle,Remblai_All,3.0,3.0,7.100,7.100,41.0,41.0,104.690,104.690
149,Nappe,528,remblais,Remblai_All,2.0,2.0,3.670,3.670,41.0,41.0,103.500,103.500
151,Nappe,522,Alluvions,Remblai_All,2.0,2.0,2.980,2.980,41.0,41.0,103.070,103.070
158,Nappe,537,#conflict,All_limoneuse,1.0,1.0,7.610,7.610,25.0,25.0,102.820,102.820
159,Nappe,536,#conflict,All_limoneuse,2.0,2.0,8.220,8.220,25.0,25.0,102.890,102.890
160,Nappe,543,#conflict,All_limoneuse,1.0,1.0,6.650,6.650,25.0,25.0,101.790,101.790
165,"Long_pz, Long_crep",541,remblais,Remblais,2.0,4.0,8.220,5.200,25.0,25.0,101.410,101.410
171,Nappe,539,#conflict,All_limoneuse,2.0,2.0,8.430,8.430,25.0,25.0,102.120,102.120
174,Nappe,533,#conflict,All_limoneuses_graveleuses,1.0,1.0,7.870,7.870,25.0,25.0,102.620,102.620
176,"Nappe, Long_pz, Diam_int_pz",502,Socle,All_limoneuses_graveleuses,2.0,2.0,13.480,7.370,41.0,25.0,105.280,105.280
177,"Nappe, Long_pz, Diam_int_pz",502,#conflict,Socle,2.0,2.0,7.370,13.480,25.0,41.0,105.280,105.280
178,Nappe,502,#conflict,All_limoneuses_graveleuses,2.0,2.0,7.370,7.370,25.0,25.0,105.280,105.280
183,Nappe,512,#conflict,Remblai_All,3.0,3.0,4.670,4.670,41.0,41.0,104.820,104.820
185,"Nappe, Long_pz, Long_crep, Zsol, Diam_int_pz",512,Socle,Remblai_All,2.0,3.0,14.560,4.670,51.0,41.0,104.870,104.820
187,Nappe,595,#conflict,Socle,11.0,11.0,24.430,24.430,41.0,41.0,101.590,101.590
188,"Nappe, Long_pz, Long_crep, Diam_int_pz",595,#conflict,All_limoneuses_graveleuses,11.0,3.0,24.430,9.400,41.0,25.0,101.590,101.590
189,"Nappe, Long_pz, Long_crep, Diam_int_pz",595,#conflict,Remblais,11.0,0.8,24.430,1.140,41.0,25.0,101.590,101.590
190,"Nappe, Long_pz, Long_crep, Diam_int_pz",595,#conflict,Socle,3.0,11.0,9.400,24.430,25.0,41.0,101.590,101.590
191,Nappe,595,#conflict,All_limoneuses_graveleuses,3.0,3.0,9.400,9.400,25.0,25.0,101.590,101.590
192,"Nappe, Long_pz, Long_crep",595,#conflict,Remblais,3.0,0.8,9.400,1.140,25.0,25.0,101.590,101.590
193,"Nappe, Long_pz, Long_crep, Diam_int_pz",595,#conflict,Socle,0.8,11.0,1.140,24.430,25.0,41.0,101.590,101.590
194,"Nappe, Long_pz, Long_crep",595,#conflict,All_limoneuses_graveleuses,0.8,3.0,1.140,9.400,25.0,25.0,101.590,101.590
195,Nappe,595,#conflict,Remblais,0.8,0.8,1.140,1.140,25.0,25.0,101.590,101.590
196,Nappe,540,#conflict,All_limoneuse,4.0,4.0,14.010,14.010,41.0,41.0,106.910,106.910
197,"Nappe, Long_pz, Long_crep, Diam_int_pz",540,#conflict,Remblais,4.0,5.0,14.010,7.760,41.0,25.0,106.910,106.910
198,Nappe,540,#conflict,All_limoneuse,4.0,4.0,14.010,14.010,41.0,41.0,106.910,106.910
199,"Nappe, Long_pz, Long_crep, Diam_int_pz",540,#conflict,Remblais,4.0,5.0,14.010,7.760,41.0,25.0,106.910,106.910
200,"Nappe, Long_pz, Long_crep, Diam_int_pz",540,Remblais,All_limoneuse,5.0,4.0,7.760,14.010,25.0,41.0,106.910,106.910
202,"Nappe, Long_pz, Long_crep, Diam_int_pz",540,#conflict,All_limoneuse,5.0,4.0,7.760,14.010,25.0,41.0,106.910,106.910
203,Nappe,540,#conflict,Remblais,5.0,5.0,7.760,7.760,25.0,25.0,106.910,106.910

In [41]:
print(list(conflict_df.index)[:18])

[101, 103, 104, 106, 107, 114, 116, 117, 119, 122, 123, 126, 128, 129, 130, 131, 132, 134]

In [42]:
data_validation(overall_data=mdf, conflict_data=conflict_df, index_col='index', 
                valid_dict={'Nappe_y':list(conflict_df.index)[:18]})

Validation done, but conflicts remain!

In [43]:
conflict_df

,Check_col,ID,Nappe_x,Nappe_y,Long_crep_x,Long_crep_y,Long_pz_x,Long_pz_y,Diam_int_pz_x,Diam_int_pz_y,Zsol_x,Zsol_y
101,Long_crep,FP49,Done,Done,8.0,5.0,NaN,NaN,41.0,41.0,NaN,NaN
103,Long_crep,FP49,Done,Done,8.0,5.0,NaN,NaN,41.0,41.0,NaN,NaN
104,Long_crep,FP49,Done,Done,5.0,8.0,NaN,NaN,41.0,41.0,NaN,NaN
106,Long_crep,FP49,Done,Done,5.0,8.0,NaN,NaN,41.0,41.0,NaN,NaN
114,"Long_pz, Long_crep, Diam_int_pz",FP14,Done,Done,2.0,4.0,7.225,4.301,41.0,25.0,102.320,102.320
116,"Long_pz, Long_crep, Diam_int_pz",FP14,Done,Done,2.0,4.0,7.225,4.301,41.0,25.0,102.320,102.320
117,"Long_pz, Long_crep, Diam_int_pz",FP14,Done,Done,4.0,2.0,4.301,7.225,25.0,41.0,102.320,102.320
119,"Long_pz, Long_crep, Diam_int_pz",FP14,Done,Done,4.0,2.0,4.301,7.225,25.0,41.0,102.320,102.320
122,"Long_pz, Long_crep, Diam_int_pz",FP160,Done,Done,5.0,4.0,14.222,4.793,41.0,25.0,103.810,103.810
123,"Long_pz, Long_crep, Diam_int_pz",FP160,Done,Done,4.0,5.0,4.793,14.222,25.0,41.0,103.810,103.810
126,"Long_pz, Long_crep",FP63,Done,Done,2.0,3.0,14.472,3.357,41.0,41.0,102.803,102.803
128,"Long_pz, Long_crep",FP63,Done,Done,2.0,3.0,14.472,3.357,41.0,41.0,102.803,102.803
129,"Long_pz, Long_crep",FP63,Done,Done,3.0,2.0,3.357,14.472,41.0,41.0,102.803,102.803
131,"Long_pz, Long_crep",FP63,Done,Done,3.0,2.0,3.357,14.472,41.0,41.0,102.803,102.803
134,Long_pz,FP76,Done,Done,5.0,5.0,18.550,6.503,41.0,41.0,102.730,102.730
136,"Nappe, Long_pz",FP76,Socle,Remblais,5.0,5.0,18.550,6.503,41.0,41.0,102.730,102.730
137,Long_pz,FP76,NaN,Socle,5.0,5.0,6.503,18.550,41.0,41.0,102.730,102.730
139,Long_pz,FP76,NaN,Socle,5.0,5.0,6.503,18.550,41.0,41.0,102.730,102.730
142,Nappe,501,Socle,Remblai_All,2.0,2.0,9.690,9.690,25.0,25.0,110.040,110.040
146,Nappe,511,Socle,Remblai_All,4.0,4.0,4.310,4.310,41.0,41.0,103.790,103.790
147,Nappe,513,Socle,Remblai_All,3.0,3.0,7.100,7.100,41.0,41.0,104.690,104.690
149,Nappe,528,remblais,Remblai_All,2.0,2.0,3.670,3.670,41.0,41.0,103.500,103.500
151,Nappe,522,Alluvions,Remblai_All,2.0,2.0,2.980,2.980,41.0,41.0,103.070,103.070
158,Nappe,537,#conflict,All_limoneuse,1.0,1.0,7.610,7.610,25.0,25.0,102.820,102.820
159,Nappe,536,#conflict,All_limoneuse,2.0,2.0,8.220,8.220,25.0,25.0,102.890,102.890
160,Nappe,543,#conflict,All_limoneuse,1.0,1.0,6.650,6.650,25.0,25.0,101.790,101.790
165,"Long_pz, Long_crep",541,remblais,Remblais,2.0,4.0,8.220,5.200,25.0,25.0,101.410,101.410
171,Nappe,539,#conflict,All_limoneuse,2.0,2.0,8.430,8.430,25.0,25.0,102.120,102.120
174,Nappe,533,#conflict,All_limoneuses_graveleuses,1.0,1.0,7.870,7.870,25.0,25.0,102.620,102.620
176,"Nappe, Long_pz, Diam_int_pz",502,Socle,All_limoneuses_graveleuses,2.0,2.0,13.480,7.370,41.0,25.0,105.280,105.280
177,"Nappe, Long_pz, Diam_int_pz",502,#conflict,Socle,2.0,2.0,7.370,13.480,25.0,41.0,105.280,105.280
178,Nappe,502,#conflict,All_limoneuses_graveleuses,2.0,2.0,7.370,7.370,25.0,25.0,105.280,105.280
183,Nappe,512,#conflict,Remblai_All,3.0,3.0,4.670,4.670,41.0,41.0,104.820,104.820
185,"Nappe, Long_pz, Long_crep, Zsol, Diam_int_pz",512,Socle,Remblai_All,2.0,3.0,14.560,4.670,51.0,41.0,104.870,104.820
187,Nappe,595,#conflict,Socle,11.0,11.0,24.430,24.430,41.0,41.0,101.590,101.590
188,"Nappe, Long_pz, Long_crep, Diam_int_pz",595,#conflict,All_limoneuses_graveleuses,11.0,3.0,24.430,9.400,41.0,25.0,101.590,101.590
189,"Nappe, Long_pz, Long_crep, Diam_int_pz",595,#conflict,Remblais,11.0,0.8,24.430,1.140,41.0,25.0,101.590,101.590
190,"Nappe, Long_pz, Long_crep, Diam_int_pz",595,#conflict,Socle,3.0,11.0,9.400,24.430,25.0,41.0,101.590,101.590
191,Nappe,595,#conflict,All_limoneuses_graveleuses,3.0,3.0,9.400,9.400,25.0,25.0,101.590,101.590
192,"Nappe, Long_pz, Long_crep",595,#conflict,Remblais,3.0,0.8,9.400,1.140,25.0,25.0,101.590,101.590
193,"Nappe, Long_pz, Long_crep, Diam_int_pz",595,#conflict,Socle,0.8,11.0,1.140,24.430,25.0,41.0,101.590,101.590
194,"Nappe, Long_pz, Long_crep",595,#conflict,All_limoneuses_graveleuses,0.8,3.0,1.140,9.400,25.0,25.0,101.590,101.590
195,Nappe,595,#conflict,Remblais,0.8,0.8,1.140,1.140,25.0,25.0,101.590,101.590
196,Nappe,540,#conflict,All_limoneuse,4.0,4.0,14.010,14.010,41.0,41.0,106.910,106.910
197,"Nappe, Long_pz, Long_crep, Diam_int_pz",540,#conflict,Remblais,4.0,5.0,14.010,7.760,41.0,25.0,106.910,106.910
198,Nappe,540,#conflict,All_limoneuse,4.0,4.0,14.010,14.010,41.0,41.0,106.910,106.910
199,"Nappe, Long_pz, Long_crep, Diam_int_pz",540,#conflict,Remblais,4.0,5.0,14.010,7.760,41.0,25.0,106.910,106.910
200,"Nappe, Long_pz, Long_crep, Diam_int_pz",540,Remblais,All_limoneuse,5.0,4.0,7.760,14.010,25.0,41.0,106.910,106.910
202,"Nappe, Long_pz, Long_crep, Diam_int_pz",540,#conflict,All_limoneuse,5.0,4.0,7.760,14.010,25.0,41.0,106.910,106.910
203,Nappe,540,#conflict,Remblais,5.0,5.0,7.760,7.760,25.0,25.0,106.910,106.910

In [44]:
if 'level_0' in dataset.columns:
    if 'index' in dataset.columns:
        dataset.drop(columns='index', inplace=True)
    dataset.rename(columns={'level_0':'index'}, inplace=True)

In [45]:
dataframe_viewer(dataset, rows=10, un_val='ID', view=t)

Rows : 510, columns : 30, Unique values on col 'ID': 372

interactive(children=(IntSlider(value=10, description='rows', max=510, min=10, readout=False), IntSlider(value…

#### $\color{green}{\textbf{Read and merge}}$

In [46]:
file1= work_dir + 'profils_sols_donnees_forages/donnees_forage_Piezometers.csv' # 13
file2= work_dir + 'vUmons_logsFor/Analyse_eau_Phases1&2_Piezometers.csv' # 15  

df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> Coordinates
df1 :  --> Coordinates
Rows : 12, columns : 18, Unique values on col 'ID': 12

interactive(children=(IntSlider(value=3, description='rows', max=12, min=3, readout=False), IntSlider(value=12…

Rows : 29, columns : 7, Unique values on col 'ID': 29

interactive(children=(IntSlider(value=3, description='rows', max=29, min=3, readout=False), IntSlider(value=7,…

(None, None)

In [47]:
df1.ID = df1.ID.astype(str)
df2.ID = df2.ID.astype(str)

df2.ID.replace('^P','F', regex=True, inplace=True)

In [48]:
fix_duplicates(df1, df2, drop_old_id=True)

0 duplicate objects fixed!

In [49]:
mdf, conflict_df = data_merger(df1, df2, how=how[1], on='ID', dist_max=1, error_tol_dict={1:['X', 'Y'], 0.01:['Z']})

#### Merge with object dataset

In [50]:
dataset, conflict_df=data_merger(dataset, mdf, how=how[1], on='ID', dist_max=1)

In [51]:
if 'level_0' in dataset.columns:
    if 'index' in dataset.columns:
        dataset.drop(columns='index', inplace=True)
    dataset.rename(columns={'level_0':'index'}, inplace=True)

In [52]:
dataframe_viewer(dataset, rows=10, un_val='ID', view=t)

Rows : 530, columns : 32, Unique values on col 'ID': 392

interactive(children=(IntSlider(value=10, description='rows', max=530, min=10, readout=False), IntSlider(value…

#### $\color{green}{\textbf{Read and merge}}$

In [53]:
file1= work_dir + 'vUmons_logsFor/Analyse_sol_Phases1&2_Piezometers.csv' # 16

df1 = pd.read_csv(file1)
dataframe_viewer(df1, rows=3, un_val='ID', view=t)

Rows : 59, columns : 7, Unique values on col 'ID': 32

interactive(children=(IntSlider(value=3, description='rows', max=59, min=3, readout=False), IntSlider(value=7,…

#### Merge with object dataset

In [54]:
dataset, conflict_df=data_merger(dataset, df1, how=how[1], on='ID', dist_max=1)

Conflict values present. Please resolve this manually !

#### $\color{blue}{\textbf{Manage conflicts}}$

In [55]:
conflict_df

   Check_col    ID  Long_for_x  Long_for_y
18  Long_for  P14M         3.2         2.8

In [56]:
data_validation(overall_data=mdf, conflict_data=conflict_df, index_col='index', 
                valid_dict={'Long_for_x':list(conflict_df.index)})

all conflicts have been fixed!

In [57]:
if 'level_0' in dataset.columns:
    if 'index' in dataset.columns:
        dataset.drop(columns='index', inplace=True)
    dataset.rename(columns={'level_0':'index'}, inplace=True)

## No position dataset

#### $\color{green}{\textbf{Read and merge}}$

In [58]:
a, b = 14, 12
file1= files_dict[key][a]
file2= files_dict[key][b]
print(files_dict[key][a].replace(work_dir,""),'||', files_dict[key][b].replace(work_dir,""))

profils_sols_donnees_forages/donnees_forage_Piezometers.csv || donnees_terrain_2019/Log_Piezometers.csv

In [59]:
file1= work_dir + 'profils_sols_donnees_forages/piezometrie_Piezometers.csv' # 14
file2= work_dir + 'profils_sols_donnees_forages/Equipement_Piezometers.csv' # 12  

df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> No coordinates
df1 :  --> No coordinates
Rows : 11, columns : 8, Unique values on col 'ID': 11

interactive(children=(IntSlider(value=3, description='rows', max=11, min=3, readout=False), IntSlider(value=8,…

Rows : 12, columns : 5, Unique values on col 'ID': 12

interactive(children=(IntSlider(value=3, description='rows', max=12, min=3, readout=False), IntSlider(value=5,…

(None, None)

In [60]:
df1.ID = df1.ID.astype(str)
df2.ID = df2.ID.astype(str)

In [61]:
mdf, conflict_df = data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

In [62]:
no_pos_dataset = mdf.copy()

#### $\color{green}{\textbf{Read and merge}}$

In [63]:
file1= work_dir + 'donnees_terrain_2019/Equipement_Piezometers.csv' # 10
file2= work_dir + 'donnees_terrain_2019/Log_Piezometers.csv' # 11

df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> No coordinates
df1 :  --> No coordinates
Rows : 9, columns : 5, Unique values on col 'ID': 9

interactive(children=(IntSlider(value=3, description='rows', max=9, min=3, readout=False), IntSlider(value=5, …

Rows : 10, columns : 9, Unique values on col 'ID': 3

interactive(children=(IntSlider(value=3, description='rows', max=10, min=3, readout=False), IntSlider(value=9,…

(None, None)

In [64]:
df1.ID = df1.ID.astype(str)
df2.ID = df2.ID.astype(str)

In [65]:
mdf, conflict_df = data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

#### Merge with object dataset

In [66]:
no_pos_dataset, conflict_df=data_merger(no_pos_dataset, mdf, how=how[1], on='ID', dist_max=1)

#### $\color{green}{\textbf{Read and merge}}$

In [67]:
file1= work_dir + 'database_Memoris3/Profils_sol_Piezometers.csv' # 6

df1 = pd.read_csv(file1)
dataframe_viewer(df1, rows=3, un_val='ID', view=t)

Rows : 111, columns : 6, Unique values on col 'ID': 111

interactive(children=(IntSlider(value=3, description='rows', max=111, min=3, readout=False), IntSlider(value=6…

#### Merge with object dataset

In [68]:
no_pos_dataset, conflict_df=data_merger(no_pos_dataset, df1, how=how[1], on='ID', dist_max=1)

## final merging

In [69]:
dataset.ID.replace('^P','F', regex=True, inplace=True)

In [70]:
for c in dataset.columns:
    if c in ['index', 'Origin_ID']:
        dataset.drop(columns=c, inplace=True)

In [71]:
dataset, check1 = data_filter(dataset, position=True, id_col='ID', expression='sup|prof', 
                              dist_max=1, drop=True, drop_old_id=True)

some data must be checked !
Rows : 564 ; Columns : 31 ; Unique on 'ID' : 378 ;

In [72]:
dataframe_viewer(dataset, rows=3, un_val='ID', view=t)

Rows : 564, columns : 31, Unique values on col 'ID': 378

interactive(children=(IntSlider(value=3, description='rows', max=564, min=3, readout=False), IntSlider(value=1…

In [73]:
dataframe_viewer(no_pos_dataset, rows=3, un_val='ID', view=t)

Rows : 142, columns : 20, Unique values on col 'ID': 135

interactive(children=(IntSlider(value=3, description='rows', max=142, min=3, readout=False), IntSlider(value=1…

In [74]:
no_pos_dataset.ID.replace('^P','F', regex=True, inplace=True)

In [75]:
no_pos_dataset, check1 = data_filter(no_pos_dataset, position=False, id_col='ID', expression='sup|prof', 
                              dist_max=1, drop=True, drop_old_id=True)

some data must be checked !
Rows : 142 ; Columns : 20 ; Unique on 'ID' : 135 ;

no_pos_dataset.drop(columns='Origin_ID', inplace=True)

#### Merge with object dataset

In [76]:
dataset, conflict_df=data_merger(dataset, no_pos_dataset, how=how[1], on='ID', dist_max=1)

Conflict values present. Please resolve this manually !

#### $\color{blue}{\textbf{Manage conflicts}}$

In [77]:
conflict_df

,Check_col,ID,Diam_ext_pz_x,Diam_ext_pz_y,Long_pz_x,Long_pz_y,Diam_for_x,Diam_for_y
3,Diam_ext_pz,F2M,53.0,45.0,6.00,NaN,75.0,75.0
4,Long_pz,F3M,NaN,45.0,2.76,2.98,NaN,75.0
5,Long_pz,F3M,NaN,45.0,2.76,2.98,NaN,75.0
6,"Diam_ext_pz, Long_pz",F3M,53.0,45.0,3.30,2.98,75.0,75.0
9,Diam_ext_pz,F4M,53.0,45.0,4.00,NaN,75.0,75.0
13,Diam_ext_pz,F5M,53.0,45.0,6.00,NaN,75.0,75.0
16,Diam_ext_pz,F6M,53.0,45.0,3.60,NaN,75.0,75.0
18,Diam_ext_pz,F11M,53.0,45.0,3.00,NaN,75.0,75.0
21,Diam_ext_pz,F12M,53.0,45.0,3.50,NaN,75.0,75.0
22,Long_pz,F13M,NaN,45.0,3.36,4.04,NaN,75.0
23,Long_pz,F13M,NaN,45.0,3.36,4.04,NaN,75.0
24,Long_pz,F13M,NaN,45.0,3.36,4.04,NaN,75.0
25,"Diam_ext_pz, Long_pz",F13M,53.0,45.0,3.50,4.04,75.0,75.0
27,"Diam_ext_pz, Diam_for",F14M,53.0,50.0,2.80,NaN,75.0,250.0
29,Long_pz,F16M,NaN,50.0,4.39,4.85,NaN,108.0
30,Long_pz,F16M,NaN,50.0,4.39,4.85,NaN,108.0
31,"Diam_ext_pz, Diam_for, Long_pz",F16M,53.0,50.0,4.80,4.85,75.0,108.0
528,Diam_ext_pz,50,25.0,45.0,3.60,NaN,75.0,75.0
529,Diam_ext_pz,51,25.0,45.0,3.60,NaN,75.0,75.0
531,Diam_ext_pz,52,25.0,45.0,3.60,NaN,75.0,75.0
554,"Diam_ext_pz, Diam_for, Long_pz",F15bM,53.0,50.0,4.00,4.67,75.0,108.0
558,"Diam_ext_pz, Diam_for, Long_pz",F17dM,53.0,50.0,3.60,3.97,75.0,108.0

data_validation(overall_data=mdf, conflict_data=conflict_df, index_col='index', 
                valid_dict={'Nappe_y':list(conflict_df.index)[:18]})

In [78]:
dataset, check1 = data_filter(dataset, position=True, id_col='ID', expression='sup|prof', 
                              dist_max=1, drop=True, drop_old_id=True)

some data must be checked !
Rows : 633 ; Columns : 41 ; Unique on 'ID' : 440 ;

In [79]:
check1

,Check_col,ID,Type_ech,Methode,Resp_chantier,Refus,Method,Keyword,Sous_zone,Description,Type_refus,Societe,Zone,Date_ouv,ID_date,Type_equip,ID_2,Nappe,Long_for,Type
1,"Type_ech, Methode, Resp_chantier, Refus, Metho...",F2M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crepine,P2M,Remblais + limons,6.0,Piezo
2,"Type_ech, Methode, Resp_chantier, Refus, Metho...",F2M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crepine,P2M,Remblais + limons,6.0,Piezo
3,"Type_ech, Methode, Resp_chantier, Refus, Metho...",F2M,NaN,NaN,NaN,NaN,Dual tube,NaN,NaN,NaN,NaN,ECOPLANNING sprl,NaN,2017-02-22,2017-F2M,NaN,P2M,Remblais + limons,6.0,Piezo
5,"Type_ech, Methode, Resp_chantier, Method, Keyw...",F3M,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crepine,P3M,Remblais,3.3,Piezo
6,"Type_ech, Methode, Resp_chantier, Method, Keyw...",F3M,NaN,NaN,NaN,x,Dual tube,NaN,NaN,NaN,Laitier,ECOPLANNING sprl,NaN,2017-02-22,2017-F3M,NaN,P3M,Remblais,3.3,Piezo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,"Type_ech, Methode, Resp_chantier, Method, Keyw...",F1aM,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.4,Piezo
575,"Type_ech, Methode, Resp_chantier, Refus, Metho...",F52,NaN,NaN,NaN,NaN,NaN,Remblais déchets de construction,NaN,Remblais de déchets de construction - présence...,NaN,NaN,Mini-Pilote,2019-12-18,NaN,NaN,NaN,NaN,NaN,Piezo
576,"Type_ech, Methode, Resp_chantier, Refus, Metho...",F52,NaN,NaN,NaN,NaN,NaN,Remblais déchets sidérurgiques,NaN,Remblais de couleur noir - Présence d'éclat ch...,NaN,NaN,Mini-Pilote,2019-12-18,NaN,NaN,NaN,NaN,NaN,Piezo
577,"Type_ech, Methode, Resp_chantier, Refus, Metho...",F52,NaN,NaN,NaN,NaN,NaN,Remblais déchets sidérurgiques,NaN,Remblais grossiers saturés avec scories - char...,NaN,NaN,Mini-Pilote,2019-12-18,NaN,NaN,NaN,NaN,NaN,Piezo
578,"Type_ech, Methode, Resp_chantier, Refus, Metho...",F52,NaN,NaN,NaN,NaN,NaN,Remblais déchets sidérurgiques,NaN,Idem - Odeur d'hydrocarbures commence à 3 m.,NaN,NaN,Mini-Pilote,2019-12-18,NaN,NaN,NaN,NaN,NaN,Piezo

In [80]:
dataframe_viewer(dataset, rows=3, un_val='ID', view=t)

Rows : 633, columns : 41, Unique values on col 'ID': 440

interactive(children=(IntSlider(value=3, description='rows', max=633, min=3, readout=False), IntSlider(value=1…

####  $\color{red}{\textbf{Save final object dataset}}$

In [81]:
for c in dataset.columns:
    if c in ['index', 'Origin_ID'] and c in dataset.columns:
        dataset.drop(columns=c, inplace=True)

In [82]:
if not os.path.exists(save_dir):
    os.makedirs(save_dir)
    
dataset.to_csv(save_dir + save_file, index=False)

## Querying

coi_1 = ['ID','Date_ouv','X','Y','Z','Zsol','Type','Description','Diam_for','Long_for',]
coi_2 = ['Nappe','Refus','Type_refus','Profondeur','Long_pz','Diam_ext_pz','Diam_int_pz','Zone']

x_min, x_max = 152882, 152885
y_min, y_max =  122605, 122608
bh_name = 'F1.M' # regex
#bh_name = None

q = dataset.query(f'X >= {x_min} and X <= {x_max} and Y >= {y_min} and Y <= {y_max}')
if bh_name is not None:
    q = dataset.query(f'ID.str.contains("{bh_name}")', engine='python')
dataframe_viewer(q[coi_1 + coi_2], rows=10, cols=15, un_val='ID', view=t)

drop_dict = {1:10, 2:20, 3:30, 4:10}

[k for k, v in drop_dict.items() if v == min(drop_dict.values())][0]