# Create Log files from a csv of a contact depth in several boreholes

In [1]:
import pandas as pd

In [3]:
pwd

'/home/su530201/PycharmProjects/GSDMA/playground/TFE_test'

In [5]:
df = pd.read_csv('../../data/contact_between_backfill_and_alluvium.csv')

In [10]:
df

   borehole  depth[m]           x           y        z
0       205       3.2  152887.693  122594.620  101.804
1       208       3.4  152885.296  122592.986  101.848
2       212       3.4  152882.850  122591.453  101.930
3       207       3.4  152892.925  122592.662  101.889
4       214       3.6  152888.082  122588.486  101.854
5       217       4.2  152886.185  122587.152  101.815
6       225       4.0  152881.112  122580.962  101.669
7       304       3.6  152882.735  122586.452  101.824

In [17]:
df['borehole']

0    205
1    208
2    212
3    207
4    214
5    217
6    225
7    304
Name: borehole, dtype: int64

In [27]:
for idx, row in df.iterrows():
    bh=int(row['borehole'])
    z_contact = row['depth[m]']
    print(f'../../data/boreholes/Log_F{bh:03d}.txt')
    with open(f'../../data/boreholes/Log_F{bh:03d}.txt', 'w+') as f:
        f.write('# borehole name\n')
        f.write(f'F{bh:03d}\n')
        f.write('# borehole description\n')
        f.write('start\tend\tdescription\tlithology\tcolour\n')
        f.write(f'0.00\t{z_contact:.2f}\tremblais\tremblais\tbrun\n')
        f.write(f'{z_contact:.2f}\t6.00\talluvions\tsilt\tgris\n')
        f.write('# markers\n')
        f.write(f'mur remblais\t{z_contact:.2f}\n')

../../data/boreholes/Log_F205.txt
../../data/boreholes/Log_F208.txt
../../data/boreholes/Log_F212.txt
../../data/boreholes/Log_F207.txt
../../data/boreholes/Log_F214.txt
../../data/boreholes/Log_F217.txt
../../data/boreholes/Log_F225.txt
../../data/boreholes/Log_F304.txt