# Data Gathering

In [1]:
from utils.io import dataframe_viewer, files_search, data_merger, data_validation, data_overview, \
data_filter, fix_duplicates, read_geodf_file

import re, os
import numpy as np
import geopandas as gpd
import pandas as pd
import datetime as dtm
import matplotlib.pyplot as plt
from definitions import ROOT_DIR

In [2]:
def create_df(files, verbose=True): # find another name for this function
    """
    create dataframes from files and test if they contain position informations
    files: list of files name
    """
    dfs = []
    for f in files:
        df = pd.read_csv(f, delimiter=',')
        dfs.append(df)
        
        if verbose:
            if 'X' in list(df.columns): msg = ' --> Coordinates'
            else: msg = ' --> No coordinates'

            print(f"df1 : {msg}")
            
    return dfs

## Reading files

In [3]:
work_dir = ROOT_DIR+'/CF_data/Result_traitem/'
save_dir = ROOT_DIR+'/CF_data/Donnees_fusionnees/'

In [4]:
# create a dictionary structure to retrieve good files (Keynames !!!)
files_dict={'Borehole':0,'Piezometer':0,'Piezair':0,'Trench':0,'Litho':0,'Equipm':0,
        'Measure':0,'Sample':0,'Analysis':0,'Facility':0}

In [5]:
files_search(work_dir, files_dict, prefix='', skip='source')

Borehole  	:  7
Piezometer  	:  17
Piezair  	:  2
Trench  	:  1
Litho  	:  7
Equipm  	:  3
Measure  	:  6
Sample  	:  27
Analysis  	:  21
Facility  	:  4

In [6]:
how=['inner', 'outer', 'left', 'right']

In [7]:
f = False
t = True

# BOREHOLES PROCESSING

Some corrections todo in 'data organization':
- correct extraction in the file 2 -> Samples
- file 4 and file 5 are the same in result (check it)
- try to concatenate file 1 with piezo (if possible because no position)
- check processing for 'refus and 'type_refus' (every object)

In [8]:
key='Borehole'
save_file = f'Merged_Boreholes.csv'
coi=['ID','ID_date','X','Y','Z','Type','Long_for','Diam_for','Refus', 'Societe'] #columns of interest
dataset = pd.DataFrame() # for saving object info after last merging
print(len(files_dict[key]), 'files')

7 files

In [9]:
files_dict[key] #files_dict[key][0]

['/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/Forage_Pilote/leve_Z_elect_pos_Boreholes.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/Prof_contact_sol_forage/Feuil1_Boreholes.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/database_Memoris3/Profils_sol_Boreholes.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/donnees_terrain_2019/Donnees_forage_Boreholes.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/profils_sols_donnees_forages/Equipement_Boreholes.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/profils_sols_donnees_forages/Log_Boreholes.csv',
 '/home/yanathan/Projects/GSDMA/CF_data/Result_traitem/profils_sols_donnees_forages/donnees_forage_Boreholes.csv']

In [10]:
data_overview(files_dict[key])

Same files:[(4, 6)]
Files with coordinates:[1, 3, 4, 6]
Files without coordinates:[0, 2, 5]

#### $\color{green}{\textbf{Read and merge}}$

In [11]:
file1= work_dir + 'profils_sols_donnees_forages/Log_Boreholes.csv' # 5
file2= work_dir + 'profils_sols_donnees_forages/Equipement_Boreholes.csv' # 4

df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> No coordinates
df1 :  --> Coordinates
Rows : 24, columns : 3, Unique values on col 'ID': 24

interactive(children=(IntSlider(value=3, description='rows', max=24, min=3, readout=False), IntSlider(value=3,…

Rows : 13, columns : 13, Unique values on col 'ID': 13

interactive(children=(IntSlider(value=3, description='rows', max=13, min=3, readout=False), IntSlider(value=12…

(None, None)

In [12]:
df1.rename(columns={'Profondeur':'Long_for'}, inplace=True)
df2.rename(columns={'Profondeur':'Long_for'}, inplace=True)

In [13]:
mdf, conflict_df=data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

In [14]:
dataframe_viewer(mdf, rows=10, un_val='ID', view=t)

Rows : 25, columns : 13, Unique values on col 'ID': 25

interactive(children=(IntSlider(value=10, description='rows', max=25, min=10, readout=False), IntSlider(value=…

#### First object dataset save

In [15]:
dataset = mdf.copy() #saving

#### $\color{green}{\textbf{Read and merge}}$

In [16]:
file1= work_dir + 'database_Memoris3/Profils_sol_Boreholes.csv' # 2
file2= work_dir + 'Prof_contact_sol_forage/Feuil1_Boreholes.csv' # 1

df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> No coordinates
df1 :  --> Coordinates
Rows : 172, columns : 6, Unique values on col 'ID': 172

interactive(children=(IntSlider(value=3, description='rows', max=172, min=3, readout=False), IntSlider(value=6…

Rows : 8, columns : 6, Unique values on col 'ID': 8

interactive(children=(IntSlider(value=3, description='rows', max=8, min=3, readout=False), IntSlider(value=6, …

(None, None)

In [17]:
df1.rename(columns={'Profondeur':'Long_for'}, inplace=True)
df2.rename(columns={'Profondeur':'Long_for'}, inplace=True)

In [18]:
mdf, conflict_df=data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

Conflict values present. Please resolve this manually !

In [19]:
dataframe_viewer(mdf, rows=10, un_val='ID', view=t)

Rows : 177, columns : 10, Unique values on col 'ID': 177

interactive(children=(IntSlider(value=10, description='rows', max=177, min=10, readout=False), IntSlider(value…

#### $\color{blue}{\textbf{Manage conflicts}}$

In [20]:
conflict_df

    Check_col    ID  Long_for_x  Long_for_y
136  Long_for  F205         1.4         3.2
138  Long_for  F212         5.8         3.4
142  Long_for  F217         5.7         4.2

data_validation(overall_data=mdf, conflict_data=conflict_df, index_col='index', 
                valid_dict={'Long_for_x':[136,142],},)

#### Merge with object dataset

In [21]:
dataset, conflict_df=data_merger(dataset, mdf, how=how[1], on='ID', dist_max=1)

In [22]:
if 'level_0' in dataset.columns:
    if 'index' in dataset.columns:
        dataset.drop(columns='index', inplace=True)
    dataset.rename(columns={'level_0':'index'}, inplace=True)

In [23]:
dataframe_viewer(dataset, rows=10, un_val='ID', view=t)

Rows : 202, columns : 14, Unique values on col 'ID': 202

interactive(children=(IntSlider(value=10, description='rows', max=202, min=10, readout=False), IntSlider(value…

#### $\color{green}{\textbf{Read and merge}}$

In [24]:
file1= work_dir + 'Forage_Pilote/leve_Z_elect_pos_Boreholes.csv' # 0
file2= work_dir + 'donnees_terrain_2019/Donnees_forage_Boreholes.csv' # 3

df1, df2 = create_df([file1, file2])
dataframe_viewer(df1, rows=3, un_val='ID', view=t), dataframe_viewer(df2, rows=3, un_val='ID', view=t)

df1 :  --> No coordinates
df1 :  --> Coordinates
Rows : 72, columns : 5, Unique values on col 'ID': 72

interactive(children=(IntSlider(value=3, description='rows', max=72, min=3, readout=False), IntSlider(value=5,…

Rows : 16, columns : 18, Unique values on col 'ID': 16

interactive(children=(IntSlider(value=3, description='rows', max=16, min=3, readout=False), IntSlider(value=12…

(None, None)

In [25]:
df2.ID=df2.ID.apply(lambda x: 'F'+x) # name recent (2019) boreholes

In [26]:
mdf, conflict_df=data_merger(df1, df2, how=how[1], on='ID', dist_max=1)

Conflict values present. Please resolve this manually !

In [27]:
dataframe_viewer(mdf, rows=10, un_val='ID', view=t)

Rows : 74, columns : 20, Unique values on col 'ID': 74

interactive(children=(IntSlider(value=10, description='rows', max=74, min=10, readout=False), IntSlider(value=…

#### $\color{blue}{\textbf{Manage conflicts}}$

In [28]:
conflict_df

      Check_col    ID    Z_x         Z_y  Long_for_x  Long_for_y
45  Z, Long_for  F201  145.0  101.926886       5.835         2.4
49  Z, Long_for  F205  150.7  101.804167       5.840         4.8
51  Z, Long_for  F207  146.7  101.889132       5.790         4.8
52  Z, Long_for  F208  156.9  101.847697       5.770         4.8
56  Z, Long_for  F212  161.6  101.929759       5.675         4.8
58  Z, Long_for  F214  161.0  101.854288       5.685         4.8
61  Z, Long_for  F217  166.5  101.815009       5.730         4.8
63  Z, Long_for  F219  163.0  101.846858       5.630         1.5
64  Z, Long_for  F220  172.8  101.846862       5.655         0.5
65  Z, Long_for  F221  169.7  101.798666       5.720         1.4
67  Z, Long_for  F223  177.0  101.778308       5.680         1.3
68  Z, Long_for  F224  175.5  101.689276       5.665         2.4
69  Z, Long_for  F225  181.5  101.669021       5.740         4.8
70  Z, Long_for  F226  179.5  101.823793       5.765         4.8

data_validation(overall_data=mdf, conflict_data=conflict_df, index_col='index', 
                valid_dict={'Long_for_x':[136,142],},)

#### Merge with object dataset

In [29]:
dataset, conflict_df=data_merger(dataset, mdf, how=how[1], on='ID', dist_max=1)

Conflict values present. Please resolve this manually !

In [30]:
if 'level_0' in dataset.columns:
    if 'index' in dataset.columns:
        dataset.drop(columns='index', inplace=True)
    dataset.rename(columns={'level_0':'index'}, inplace=True)

In [31]:
dataframe_viewer(dataset, rows=10, un_val='ID', view=t)

Rows : 235, columns : 21, Unique values on col 'ID': 235

interactive(children=(IntSlider(value=10, description='rows', max=235, min=10, readout=False), IntSlider(value…

#### $\color{blue}{\textbf{Manage conflicts}}$

In [32]:
conflict_df

,Check_col,ID,index_x,index_y,Long_for_x,Long_for_y,Societe_x,Societe_y,Date_ouv_x,Date_ouv_y,ID_date_x,ID_date_y
33,index,F10,33.0,0.0,7.0,NaN,SITEREM,NaN,2010-03-15,NaN,2010-F10,NaN
34,index,F11,34.0,1.0,6.0,NaN,SITEREM,NaN,2010-03-16,NaN,2010-F11,NaN
36,index,F13,36.0,3.0,8.4,NaN,SITEREM,NaN,2010-03-16,NaN,2010-F13,NaN
38,index,F23,38.0,10.0,6.8,NaN,SBS Environnement,NaN,2010-03-18,NaN,2010-F23,NaN
39,index,F24,39.0,11.0,6.8,NaN,SBS Environnement,NaN,2010-03-18,NaN,2010-F24,NaN
54,index,F41,54.0,13.0,6.8,NaN,SBS Environnement,NaN,2010-03-12,NaN,2010-F41,NaN
97,index,F100,97.0,14.0,5.5,5.905,SBS Environnement,NaN,2010-02-11,NaN,2010-F100,NaN
98,"Long_for, index",F101,98.0,15.0,2.0,5.775,SBS Environnement,NaN,2010-02-11,NaN,2010-F101,NaN
99,"Long_for, index",F102,99.0,16.0,6.9,5.945,SBS Environnement,NaN,2010-02-23,NaN,2010-F102,NaN
100,"Long_for, index",F103,100.0,17.0,8.1,5.725,SBS Environnement,NaN,2010-02-23,NaN,2010-F103,NaN
101,"Long_for, index",F104,101.0,18.0,2.0,5.710,SBS Environnement,NaN,2010-01-25,NaN,2010-F104,NaN
102,index,F105,102.0,19.0,5.5,5.750,SBS Environnement,NaN,2010-02-11,NaN,2010-F105,NaN
103,"Long_for, index",F108,103.0,22.0,6.7,5.785,SBS Environnement,NaN,2010-01-28,NaN,2010-F108,NaN
104,"Long_for, index",F111,104.0,25.0,8.2,5.875,SITEREM,NaN,2010-01-11,NaN,2010-F111,NaN
105,"Long_for, index",F113,105.0,27.0,2.0,5.730,SITEREM,NaN,2010-01-12,NaN,2010-F113,NaN
107,"Long_for, index",F114,107.0,28.0,0.5,5.765,SITEREM,NaN,2010-01-12,NaN,2010-F114,NaN
110,"Long_for, index",F115,110.0,29.0,18.0,5.705,SITEREM,NaN,2010-01-12,NaN,2010-F115,NaN
113,"Long_for, index",F116,113.0,30.0,0.4,5.650,SITEREM,NaN,2010-01-12,NaN,2010-F116,NaN
118,"Long_for, index",F118,118.0,32.0,1.0,5.745,SITEREM,NaN,2010-01-12,NaN,2010-F118,NaN
121,"Long_for, index",F119,121.0,33.0,3.6,5.535,SITEREM,NaN,2010-01-12,NaN,2010-F119,NaN
123,"Long_for, index",F120,123.0,34.0,0.5,5.665,SITEREM,NaN,2010-01-12,NaN,2010-F120,NaN
124,"Long_for, index",F121,124.0,35.0,2.4,5.780,SITEREM,NaN,2010-01-12,NaN,2010-F121,NaN
125,"Long_for, index",F122,125.0,36.0,2.2,5.730,SITEREM,NaN,2010-01-12,NaN,2010-F122,NaN
126,"Long_for, index",F124,126.0,38.0,4.6,5.635,SITEREM,NaN,2010-01-12,NaN,2010-F124,NaN
127,"Long_for, index",F126,127.0,40.0,4.6,5.635,SITEREM,NaN,2010-01-12,NaN,2010-F126,NaN
128,"Long_for, index",F127,128.0,41.0,4.6,5.740,SITEREM,NaN,2010-01-12,NaN,2010-F127,NaN
129,"Long_for, index",F128,129.0,42.0,4.6,5.635,SITEREM,NaN,2010-01-12,NaN,2010-F128,NaN
160,"Long_for, index",F200,160.0,44.0,1.2,5.870,SITEREM,NaN,2010-03-25,NaN,2010-F200,NaN
161,"Societe, Date_ouv, ID_date, index",F205,161.0,49.0,NaN,NaN,SITEREM,ECOPLANNING sprl,2010-03-26,2019-10-07,2010-F205,2019-205
162,"Long_for, index",F211,162.0,55.0,7.2,5.650,SITEREM,NaN,2010-05-10,NaN,2010-F211,NaN
163,"Societe, Date_ouv, ID_date, index",F212,163.0,56.0,NaN,NaN,SITEREM,ECOPLANNING sprl,2010-05-10,2019-10-07,2010-F212,2019-212
164,"Long_for, index",F213,164.0,57.0,6.6,5.700,SBS Environnement,NaN,2010-03-02,NaN,2010-F213,NaN
165,index,F215,165.0,59.0,5.7,5.685,SBS Environnement,NaN,2010-03-03,NaN,2010-F215,NaN
166,"Long_for, index",F216,166.0,60.0,6.5,5.800,SBS Environnement,NaN,2010-03-04,NaN,2010-F216,NaN
167,"Societe, Date_ouv, ID_date, index",F217,167.0,61.0,NaN,NaN,SBS Environnement,ECOPLANNING sprl,2010-03-02,2019-10-07,2010-F217,2019-217
168,index,F218,168.0,62.0,5.7,5.775,SBS Environnement,NaN,2010-03-02,NaN,2010-F218,NaN
169,"Societe, Date_ouv, ID_date, index",F219,169.0,63.0,1.8,NaN,SBS Environnement,ECOPLANNING sprl,2010-03-03,2019-10-08,2010-F219,2019-219
197,index,F208,197.0,52.0,3.4,NaN,NaN,ECOPLANNING sprl,NaN,2019-10-07,NaN,2019-208
198,index,F207,198.0,51.0,3.4,NaN,NaN,ECOPLANNING sprl,NaN,2019-10-07,NaN,2019-207
199,index,F214,199.0,58.0,3.6,NaN,NaN,ECOPLANNING sprl,NaN,2019-10-07,NaN,2019-214
200,index,F225,200.0,69.0,4.0,NaN,NaN,ECOPLANNING sprl,NaN,2019-10-08,NaN,2019-225

data_validation(overall_data=dataset, conflict_data=conflict_df, index_col='index', 
                valid_dict={'Long_for_x':[136,142],},)

In [33]:
dataframe_viewer(dataset, rows=3, un_val='ID', view=t)

Rows : 235, columns : 21, Unique values on col 'ID': 235

interactive(children=(IntSlider(value=3, description='rows', max=235, min=3, readout=False), IntSlider(value=1…

In [34]:
bh_shpf1 = read_geodf_file('/home/yanathan/Projects/GSDMA/CF_data/Data_UMONS/SIG/sondages_v2017-05-18.shp', epsg=31370)
bh_shpf2 = read_geodf_file('/home/yanathan/Projects/GSDMA/CF_data/Data_UMONS/SIG/Pilote_v8.0.shp', epsg=31370)

In [35]:
bh_shpf1.rename(columns={'Ref_sond':'ID', 'XL72':'X', 'YL72':'Y'}, inplace=True)
bh_shpf2.rename(columns={'Ref':'ID', 'Date':'Date_ouv', 'Method':'Methode'}, inplace=True)
bh_shpf2['X'] = bh_shpf2.geometry.x
bh_shpf2['Y'] = bh_shpf2.geometry.y

In [36]:
for i, r in bh_shpf1.iterrows():
    if str(r['ID'])[0] != 'F':
        bh_shpf1.loc[i,'ID'] = 'F'+ str(r['ID'])
    if str(r['ID'])[0] == 'P':
        bh_shpf1.loc[i,'ID'] = re.sub('^P', 'F', str(r['ID']))

In [37]:
bh_shpf, conflict_df=data_merger(bh_shpf1, bh_shpf2, how=how[1], on='ID', dist_max=1)

In [38]:
dataset, conflict_df=data_merger(dataset, bh_shpf, how=how[1], on='ID', dist_max=1)

Conflict values present. Please resolve this manually !

#### $\color{blue}{\textbf{Manage conflicts}}$

In [39]:
data_validation(overall_data=dataset, conflict_data=conflict_df, index_col='index', 
                valid_dict={'Refus_y':list(conflict_df.index), 'Z_y':list(conflict_df.index)},)

all conflicts have been fixed!

In [41]:
if 'level_0' in dataset.columns:
    if 'index' in dataset.columns:
        dataset.drop(columns='index', inplace=True)
    dataset.rename(columns={'level_0':'index'}, inplace=True)

In [46]:
dataset = dataset.query('X==X')[['ID', 'X', 'Y', 'Z', 'Long_for', 'Diam_for', 'Prof_sond','Type', 
                                 'Date_ouv', 'Methode','Societe', 'Pilote','Type_refus', 'Refus']]

In [48]:
dataframe_viewer(dataset)

Rows : 176, columns : 14

interactive(children=(IntSlider(value=10, description='rows', max=176, min=10, readout=False), IntSlider(value…

####  $\color{red}{\textbf{Save final object dataset}}$

In [49]:
if 'index' in dataset.columns:
    dataset.drop(columns='index', inplace=True)

In [50]:
if not os.path.exists(save_dir):
    os.makedirs(save_dir)
    
dataset.to_csv(save_dir + save_file, index=False)