# Extract descriptions from boreholes

In [1]:
%matplotlib widget

config Completer.use_jedi = False

In [2]:
import datetime

In [3]:
import numpy as np

In [4]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

## Extraction des dates de forages du type de forage et du foreur de l'étude de caractérisation

In [56]:
# informations sur les forages de l'étude de caractérisation de 2010
Logs_forages = pd.read_excel('../../CF_data/Data_SITEREM/Logs forages.xls',sheet_name='Forages, tranchées')

In [57]:
Logs_forages = Logs_forages[['Date', 'N°', 'Id', 'Profondeur', 'Description', 'Piézo', 'Unnamed: 6',
                             'Gouge Ø75', 'MFT Ø145', 'carottier', 'tarrière', 'Liner Ø60']]

In [58]:
Logs_forages.rename({'N°':'Nr','Gouge Ø75':'Gouge_75', 'Liner Ø60': 'Liner_60'}, axis=1, inplace=True)

In [59]:
Logs_forages.loc[Logs_forages.query('Profondeur!=Profondeur' ).index,'Profondeur']=''

In [60]:
forages = Logs_forages.query('Profondeur.str.contains("Forage")  and Profondeur!="Forage bloqué"', engine='python')

In [61]:
trenches = Logs_forages.query('Profondeur.str.contains("Tranchée")', engine='python')

In [62]:
trenches

,Date,Nr,Id,Profondeur,Description,Piézo,Unnamed: 6,Gouge_75,MFT Ø145,carottier,tarrière,Liner_60
1338,2010-05-10,187.0,1555.0,Tranchée 187,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1347,2010-05-10,188.0,1563.0,Tranchée 188,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1359,2010-05-10,190.0,1545.0,Tranchée 190,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1364,2010-05-10,191.0,1566.0,Tranchée 191,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1424,2010-05-10,210.0,1550.0,Tranchée 210,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1433,2010-05-10,211.0,1559.0,Tranchée 211,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1445,2010-05-10,212.0,1569.0,Tranchée 212,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1461,2010-05-10,213.0,1575.0,Tranchée 213,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1474,2010-05-10,214.0,1579.0,Tranchée 214,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1477,2010-05-10,214.1,1582.0,Tranchée 214A,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1480,2010-05-10,214.2,1585.0,Tranchée 214B,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1489,2010-05-10,215.0,1590.0,Tranchée 215,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1499,2010-05-10,216.0,1594.0,Tranchée 216,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1509,2010-05-10,217.0,1597.0,Tranchée 217,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1516,2010-05-10,218.0,1600.0,Tranchée 218,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1524,2010-05-10,219.0,1604.0,Tranchée 219,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN
1537,2010-05-10,220.0,1608.0,Tranchée 220,NaN,NaN,SITEREM,NaN,NaN,NaN,NaN,NaN

In [63]:
x = trenches.index.to_list()
x.extend(forages.index.to_list())
x.sort()
x

[0,
 9,
 19,
 27,
 33,
 39,
 44,
 54,
 64,
 68,
 71,
 81,
 86,
 91,
 94,
 102,
 109,
 123,
 134,
 144,
 150,
 160,
 167,
 174,
 183,
 196,
 201,
 204,
 214,
 223,
 237,
 249,
 258,
 267,
 277,
 288,
 297,
 300,
 311,
 320,
 332,
 343,
 350,
 357,
 363,
 370,
 381,
 386,
 394,
 404,
 417,
 424,
 433,
 437,
 444,
 452,
 458,
 463,
 472,
 479,
 487,
 501,
 511,
 521,
 529,
 541,
 547,
 555,
 563,
 572,
 577,
 581,
 588,
 601,
 611,
 615,
 624,
 640,
 654,
 664,
 670,
 679,
 686,
 693,
 701,
 708,
 712,
 718,
 727,
 735,
 742,
 748,
 751,
 756,
 761,
 768,
 778,
 786,
 789,
 793,
 805,
 814,
 823,
 830,
 840,
 852,
 856,
 863,
 876,
 884,
 893,
 902,
 914,
 923,
 931,
 936,
 948,
 951,
 954,
 957,
 961,
 974,
 977,
 980,
 983,
 987,
 990,
 1003,
 1006,
 1009,
 1013,
 1016,
 1019,
 1022,
 1028,
 1037,
 1040,
 1044,
 1048,
 1053,
 1060,
 1065,
 1070,
 1075,
 1084,
 1089,
 1095,
 1097,
 1102,
 1106,
 1111,
 1114,
 1118,
 1124,
 1131,
 1142,
 1151,
 1157,
 1164,
 1170,
 1178,
 1187,
 1199,
 1206,
 1216,
 1223,
 1228,
 1231,
 1234,
 1241,
 1249,
 1257,
 1267,
 1274,
 1283,
 1290,
 1295,
 1299,
 1304,
 1309,
 1314,
 1319,
 1323,
 1327,
 1331,
 1338,
 1342,
 1347,
 1350,
 1359,
 1364,
 1367,
 1371,
 1375,
 1378,
 1382,
 1388,
 1392,
 1402,
 1406,
 1416,
 1424,
 1429,
 1433,
 1437,
 1445,
 1451,
 1461,
 1465,
 1474,
 1477,
 1480,
 1485,
 1489,
 1493,
 1499,
 1502,
 1509,
 1512,
 1516,
 1520,
 1524,
 1528,
 1537,
 1541,
 1547,
 1550,
 1559,
 1570,
 1577,
 1583,
 1591,
 1597,
 1604,
 1611,
 1617,
 1620,
 1625,
 1633,
 1639,
 1646,
 1655,
 1664,
 1667,
 1685,
 1697,
 1700,
 1703,
 1711,
 1715,
 1721,
 1733,
 1747,
 1755,
 1763,
 1767,
 1771,
 1775,
 1779,
 1788,
 1794,
 1801,
 1808,
 1812,
 1820,
 1825,
 1829,
 1836,
 1840,
 1844,
 1850,
 1858,
 1863,
 1867,
 1872,
 1875,
 1882,
 1889,
 1893,
 1900,
 1907,
 1912,
 1917,
 1923,
 1927,
 1931,
 1942,
 1946,
 1953,
 1956,
 1961,
 1964,
 1969,
 1973,
 1977,
 1984,
 1994,
 2004]

In [64]:
trench_idx = trenches.index.to_list()

In [65]:
samples_in_trench = []
for i in trench_idx:
    j = x.index(i)
    r = range(i, j) # TO DO: fix this if last investigaton is a trench
    print(r)

range(1338, 185)
range(1347, 187)
range(1359, 189)
range(1364, 190)
range(1424, 201)
range(1433, 203)
range(1445, 205)
range(1461, 207)
range(1474, 209)
range(1477, 210)
range(1480, 211)
range(1489, 213)
range(1499, 215)
range(1509, 217)
range(1516, 219)
range(1524, 221)
range(1537, 223)

In [66]:
samples = Logs_forages.drop(index=forages.index, axis='row')

In [67]:
samples.drop(['Date', 'Id', 'Piézo', 'Unnamed: 6'], axis='columns', inplace = True)

In [68]:
samples['top'] = samples['Profondeur'].apply(lambda x: x.split('-')[0].strip(' m') if ' m' in x else np.nan)

In [69]:
samples['base'] = samples['Profondeur'].apply(lambda x: x.split('-')[-1].strip(' m') if ' m' in x else np.nan)

In [84]:
samples.query('Nr==214')

,Nr,Profondeur,Description,Gouge_75,MFT Ø145,carottier,tarrière,Liner_60,top,base
1466,214.0,"0-0,1 m",terre arable,NaN,NaN,NaN,x,NaN,0,"0,1"
1467,214.0,"0,1-0,5 m","Remblais limoneux hétérogènes brun foncé, cail...",NaN,NaN,NaN,x,NaN,"0,1","0,5"
1468,214.0,"0,5-2,7 m",Limon argileux relativement homogène ocre ; ve...,NaN,NaN,NaN,x,NaN,"0,5","2,7"
1469,214.0,"2,7-3,0 m",Remblai de limon sablo-argileux relativement h...,NaN,NaN,NaN,x,NaN,"2,7","3,0"
1470,214.0,"3,0-3,7 m",Remblai de limon sablo-argileux hétérogène ocr...,NaN,NaN,NaN,x,NaN,"3,0","3,7"
1471,214.0,"3,7-4,0 m",Remblai de limon sablo-argileux hétérogène ocr...,NaN,NaN,NaN,NaN,x,"3,7","4,0"
1472,214.0,"4,0-6,0 m",Remblai de limon sablo-argileux hétérogène ocr...,NaN,NaN,NaN,NaN,x,"4,0","6,0"
1473,214.0,"6,0 m",refus,NaN,NaN,NaN,NaN,NaN,"6,0","6,0"
1474,214.0,Tranchée 214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1475,214.0,"0-0,4 m",Remblais noirs très charbonneux; odeur de goud...,NaN,NaN,NaN,NaN,NaN,0,"0,4"
1476,214.0,"0,4 m",Remblais de laitier induré; tranchée bloquée =...,NaN,NaN,NaN,NaN,NaN,"0,4","0,4"

In [83]:
drop_list=[]
[drop_list.append(i) for i,j in samples.iterrows() if 'ranch' in j.Profondeur]
drop_list # list of index where Profondeur contains 'Tranchée'

[1338,
 1347,
 1359,
 1364,
 1424,
 1433,
 1445,
 1461,
 1474,
 1477,
 1480,
 1489,
 1499,
 1509,
 1516,
 1524,
 1537]

In [32]:
forages['Ref'] = forages['Profondeur'].apply(lambda x: x.split('Forage ')[1].replace(' ', ''))

<ipython-input-32-07818ba03c75>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forages['Ref'] = forages['Profondeur'].apply(lambda x: x.split('Forage ')[1].replace(' ', ''))

In [33]:
forages.Ref

0           1
9           2
19          3
27          4
33          5
        ...
1973     612c
1977      734
1984    FP595
1994      540
2004      600
Name: Ref, Length: 281, dtype: object

In [34]:
forages['tmp'] = forages['Piézo'].replace(np.nan, '', regex=True) + '-' + forages['Unnamed: 6'].replace(np.nan, '', regex=True) + '-' + forages['Gouge_75'].replace(np.nan, '', regex=True)

<ipython-input-34-0d7b933e2cc3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forages['tmp'] = forages['Piézo'].replace(np.nan, '', regex=True) + '-' + forages['Unnamed: 6'].replace(np.nan, '', regex=True) + '-' + forages['Gouge_75'].replace(np.nan, '', regex=True)

In [35]:
forages['Piezo'] = forages['tmp'].apply(lambda x: x.lstrip(' ').split('-')[0].lower()=='x')

<ipython-input-35-fc78262c80a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forages['Piezo'] = forages['tmp'].apply(lambda x: x.lstrip(' ').split('-')[0].lower()=='x')

In [36]:
forages['Company'] = forages['tmp'].apply(lambda x: x.rstrip('-').split('-')[-1].upper())

<ipython-input-36-4da94ebfe204>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forages['Company'] = forages['tmp'].apply(lambda x: x.rstrip('-').split('-')[-1].upper())

In [37]:
forages.query('Company=="X"')

,Date,N°,Id,Profondeur,Description,Piézo,Unnamed: 6,Gouge_75,MFT Ø145,carottier,tarrière,Liner_60,Ref,tmp,Piezo,Company
123,2010-01-18,15.0,124.0,Forage FP15,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,FP15,X--,True,X

In [38]:
forages.loc[123, 'Company']='SITEREM'

/home/su530201/.local/share/virtualenvs/GSDMA-tJb-HgI6/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [41]:
forages = forages[['Date', 'Ref', 'Company', 'Piezo']]
forages

           Date    Ref            Company  Piezo
0    2010-03-11      1  SBS ENVIRONNEMENT   True
9    2010-03-11      2  SBS ENVIRONNEMENT  False
19   2010-03-11      3  SBS ENVIRONNEMENT  False
27   2010-03-10      4  SBS ENVIRONNEMENT  False
33   2010-03-12      5  SBS ENVIRONNEMENT  False
...         ...    ...                ...    ...
1973 2010-08-03   612c  SBS ENVIRONNEMENT  False
1977 2010-08-03    734            SITEREM   True
1984 2010-09-01  FP595            SITEREM   True
1994 2010-09-02    540            SITEREM   True
2004 2010-09-20    600            SITEREM   True

[281 rows x 4 columns]

In [46]:
forages['Ref'] = forages['Date'].apply(lambda x : str(x.year) + '-') + forages['Ref']

In [47]:
forages

           Date         Ref            Company  Piezo
0    2010-03-11      2010-1  SBS ENVIRONNEMENT   True
9    2010-03-11      2010-2  SBS ENVIRONNEMENT  False
19   2010-03-11      2010-3  SBS ENVIRONNEMENT  False
27   2010-03-10      2010-4  SBS ENVIRONNEMENT  False
33   2010-03-12      2010-5  SBS ENVIRONNEMENT  False
...         ...         ...                ...    ...
1973 2010-08-03   2010-612c  SBS ENVIRONNEMENT  False
1977 2010-08-03    2010-734            SITEREM   True
1984 2010-09-01  2010-FP595            SITEREM   True
1994 2010-09-02    2010-540            SITEREM   True
2004 2010-09-20    2010-600            SITEREM   True

[281 rows x 4 columns]

## forages phase 1

In [ ]:
v2017 = gpd.read_file('../../CF_data/Data_UMONS/SIG/sondages_v2017-05-18.shp')
v2017

In [ ]:
v2017['Ref'] = v2017['Date'].apply(lambda x : str(datetime.datetime.strptime(x, '%Y-%m-%d').year) + '-') + v2017['Ref_sond']

In [ ]:
v2017

In [ ]:
sond_ant = pd.read_excel('../../CF_data/Data_UMONS/Logs_forages_vUmons_2018-03-20.xlsx', sheet_name='Sond_ant')

In [ ]:
sond_ant['Ref'] = sond_ant['Ref_siterem'].apply(lambda x: '2010-' + str(x))

In [ ]:
sond_ant

In [ ]:
sond_ant_gdf = gpd.GeoDataFrame(sond_ant, geometry=gpd.points_from_xy(sond_ant.X, sond_ant.Y, crs=str('EPSG:31370')))

Lecture de l'extension du projet MEMORIS

In [ ]:
ext = gpd.read_file('../../CF_data/Data_UMONS/SIG/Site_Memoris.shp')

Affichage carte

In [ ]:
def label(gdf, field, ax, size='xx-small'):
    for x, y, label in zip(gdf.geometry.x, gdf.geometry.y, gdf[field]):
        ax.annotate(label, xy=(x, y), xytext=(3, 3), textcoords='offset points', size=size)

In [ ]:
fig, ax = plt.subplots(figsize=(6,6))
ext.plot(ax=ax, color='grey')
v2017.plot(ax=ax, color='r')

#for x, y, label in zip(v2017.geometry.x, v2017.geometry.y, v2017.Ref_sond):
#    ax.annotate(label, xy=(x, y), xytext=(3, 3), textcoords="offset points")
label(v2017, 'Ref', ax)
v8.plot(ax=ax, color='g')
label(v8, 'Ref', ax)  
sond_ant_gdf.plot(ax=ax, color='b', markersize=1)
label(sond_ant_gdf, 'Ref', ax)

En ignorant Sond_ant_gdf

In [ ]:
v8['new_Ref'] = 'F'+v8['Ref']

In [ ]:
BH = []
BH.extend(v2017['Ref_sond'].to_list())
BH.extend(v8['new_Ref'].to_list())

In [ ]:
v8['ID'] = v8.new_Ref
v2017['ID'] = v2017.Ref_sond

In [ ]:
v8['Z']=101.

In [ ]:
gdf = gpd.GeoDataFrame( pd.concat( [v8[['geometry','ID', 'Z']], v2017[['geometry','ID', 'Z']]], ignore_index=True) )

In [ ]:
fig, ax = plt.subplots(figsize=(6,6))
ext.plot(ax=ax, color='lightgrey')
gdf.plot(ax=ax, markersize=1)
label(gdf, 'ID', ax)

In [ ]:
gdf['X']=gdf.geometry.x
gdf['Y']=gdf.geometry.y

In [ ]:
pd.DataFrame(gdf)[['ID', 'X', 'Y']].to_csv('../../CF_data/synthese/boreholes.csv', index=False)

Liste de tous les ouvrages références y compris les doublons entre jeux de données (et dans chaque jeu de donnée)

In [ ]:
BH = []
BH.extend(v2017['Ref_sond'].to_list())
BH.extend(v8['Ref'].to_list())
BH.extend(sond_ant_gdf['Ref_siterem'].to_list())

In [ ]:
gdf = v2017.merge(sond_ant_gdf, how='outer', left_on='Ref_sond', right_on='Ref_siterem')
gdf[['Ref_sond', 'Ref_siterem']][0:100]

In [ ]:
gdf.query('Ref_sond==Ref_siterem')['Ref_sond']

In [ ]:
gdf.query('Ref_sond!=Ref_sond')['Ref_siterem'].to_list()

In [ ]:
len(BH)

In [ ]:
len(set(BH))

In [ ]:
gdf.query('Ref_siterem!=Ref_siterem')['Ref_sond'].to_list()

In [ ]:
gdf.columns

In [ ]:
for idx, row in gdf.iterrows():
    if row['geometry_x'] is None:
        if row['geometry_y'] is not None:
            gdf.loc[idx, 'distance'] = 0.
        else:
            gdf.loc[idx, 'distance'] = None
    else:
        if row['geometry_y'] is None:
            gdf.loc[idx, 'distance'] = 0.
        else:
            gdf.loc[idx, 'distance'] = row['geometry_x'].distance(row['geometry_y'])

In [ ]:
gdf.query('distance != distance') # recherche de forages n'ayant aucune coordonnées

In [ ]:
gdf.query('distance>0.')