# Using the ORM to store several boreholes

Imports

In [15]:
from os import remove
from utils.io import boreholes_from_files, striplog_from_text
from core.core import Project
from core.orm import BoreholeOrm, PositionOrm, Base
from striplog import Lexicon, Striplog
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from definitions import ROOT_DIR

In [16]:
remove('tmp_files/tfe_orm_db.db')

Create the db engine and the database structure

In [17]:
engine = create_engine('sqlite:///tmp_files/tfe_orm_db.db', echo=True)

In [18]:
Base.metadata.create_all(engine)

2021-03-08 10:12:32,310 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-08 10:12:32,313 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,316 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-08 10:12:32,318 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,320 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Boreholes")
2021-03-08 10:12:32,322 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,324 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Boreholes")
2021-03-08 10:12:32,325 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,326 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Positions")
2021-03-08 10:12:32,327 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,328 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Positions")
2021-03-08 10:12:32,329 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,330 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Intervals")
2021-03-08 10:12:32,331 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,333 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Intervals")
2021-03-08 10:12:32,333 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,334 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Components")
2021-03-08 10:12:32,334 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,335 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Components")
2021-03-08 10:12:32,335 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,336 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Linkintervalcomponent")
2021-03-08 10:12:32,337 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,338 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Linkintervalcomponent")
2021-03-08 10:12:32,339 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,340 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Boreholes" (
	id VARCHAR(32) NOT NULL,
	length FLOAT,
	diameter FLOAT,
	PRIMARY KEY (id)
)


2021-03-08 10:12:32,341 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,345 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 10:12:32,346 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Positions" (
	id INTEGER NOT NULL,
	upper FLOAT,
	middle FLOAT,
	lower FLOAT,
	x FLOAT,
	y FLOAT,
	PRIMARY KEY (id)
)


2021-03-08 10:12:32,347 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,351 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 10:12:32,352 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Components" (
	id VARCHAR(32) NOT NULL,
	description VARCHAR(32),
	PRIMARY KEY (id)
)


2021-03-08 10:12:32,353 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,359 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 10:12:32,361 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Intervals" (
	id INTEGER NOT NULL,
	borehole VARCHAR(32),
	interval_number INTEGER,
	description VARCHAR(32),
	top_id INTEGER,
	base_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(borehole) REFERENCES "Boreholes" (id),
	FOREIGN KEY(top_id) REFERENCES "Positions" (id),
	FOREIGN KEY(base_id) REFERENCES "Positions" (id)
)


2021-03-08 10:12:32,363 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,368 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 10:12:32,369 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Linkintervalcomponent" (
	int_id INTEGER NOT NULL,
	comp_id INTEGER NOT NULL,
	PRIMARY KEY (int_id, comp_id),
	FOREIGN KEY(int_id) REFERENCES "Intervals" (id),
	FOREIGN KEY(comp_id) REFERENCES "Components" (id)
)


2021-03-08 10:12:32,370 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 10:12:32,376 INFO sqlalchemy.engine.base.Engine COMMIT

### Create the objects from las files

In [5]:
lexicon = Lexicon.default()

In [6]:
borehole_dict = {'F1':ROOT_DIR+'/data/test.las'}#, 'F2':ROOT_DIR+'/data/test.csv'} # boreholes to insert into the db

In [7]:
boreholes, components= boreholes_from_files(borehole_dict, verbose=0)
len(boreholes)

4

Create the session

In [8]:
Session = sessionmaker(bind=engine)
session = Session()

Create the project

In [9]:
p = Project(session)
p.add_components(components)

2021-03-08 09:50:44,485 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-08 09:50:44,486 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-03-08 09:50:44,487 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 09:50:44,492 INFO sqlalchemy.engine.base.Engine INSERT INTO "Components" (id, description) VALUES (?, ?)
2021-03-08 09:50:44,493 INFO sqlalchemy.engine.base.Engine ((0, 'Siltstone, grey'), (1, 'Anhydrite'), (2, 'Sandstone, vf-f, grey'), (3, 'Dolomite'), (4, 'Siltstone, red'), (5, 'Limestone'))
2021-03-08 09:50:44,495 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 09:50:44,499 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-08 09:50:44,499 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-03-08 09:50:44,500 INFO sqlalchemy.engine.base.Engine ()

Add boreholes into the database

In [10]:
for bh in boreholes:
    p.add_borehole(bh)

2021-03-08 09:50:44,510 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id, length, diameter) VALUES (?, ?, ?)
2021-03-08 09:50:44,511 INFO sqlalchemy.engine.base.Engine ('F1', 0.0, 0.0)
2021-03-08 09:50:44,515 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-03-08 09:50:44,516 INFO sqlalchemy.engine.base.Engine ((0, 14.3, 14.3, 14.3, 0.0, 0.0), (1, 51.24117647058824, 51.24117647058824, 51.24117647058824, 0.0, 0.0), (2, 51.24117647058824, 51.24117647058824, 51.24117647058824, 0.0, 0.0), (3, 54.81764705882354, 54.81764705882354, 54.81764705882354, 0.0, 0.0), (4, 54.81764705882354, 54.81764705882354, 54.81764705882354, 0.0, 0.0), (5, 56.55882352941177, 56.55882352941177, 56.55882352941177, 0.0, 0.0), (6, 56.55882352941177, 56.55882352941177, 56.55882352941177, 0.0, 0.0), (7, 58.86470588235295, 58.86470588235295, 58.86470588235295, 0.0, 0.0)  ... displaying 10 of 50 total bound parameter sets ...  (48, 131.47647058823532, 131.47647058823532, 131.47647058823532, 0.0, 0.0), (49, 135.9, 135.9, 135.9, 0.0, 0.0))
2021-03-08 09:50:44,519 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-03-08 09:50:44,522 INFO sqlalchemy.engine.base.Engine ((0, 'F1', 0, 'Anhydrite', 0, 1), (1, 'F1', 1, 'Sandstone, grey, vf-f', 2, 3), (2, 'F1', 2, 'Anhydrite', 4, 5), (3, 'F1', 3, 'Dolomite', 6, 7), (4, 'F1', 4, 'Anhydrite', 8, 9), (5, 'F1', 5, 'Sandstone, grey, vf-f', 10, 11), (6, 'F1', 6, 'Siltstone, red', 12, 13), (7, 'F1', 7, 'Dolomite', 14, 15)  ... displaying 10 of 25 total bound parameter sets ...  (23, 'F1', 23, 'Limestone', 46, 47), (24, 'F1', 24, 'Volcanic', 48, 49))
2021-03-08 09:50:44,525 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 09:50:44,530 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-08 09:50:44,532 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-03-08 09:50:44,533 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 09:50:44,537 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-03-08 09:50:44,538 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-03-08 09:50:44,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,543 INFO sqlalchemy.engine.base.Engine (0,)
2021-03-08 09:50:44,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,545 INFO sqlalchemy.engine.base.Engine (1,)
2021-03-08 09:50:44,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,549 INFO sqlalchemy.engine.base.Engine (2,)
2021-03-08 09:50:44,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,551 INFO sqlalchemy.engine.base.Engine (3,)
2021-03-08 09:50:44,555 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,555 INFO sqlalchemy.engine.base.Engine (4,)
2021-03-08 09:50:44,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,558 INFO sqlalchemy.engine.base.Engine (5,)
2021-03-08 09:50:44,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,562 INFO sqlalchemy.engine.base.Engine (6,)
2021-03-08 09:50:44,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,564 INFO sqlalchemy.engine.base.Engine (7,)
2021-03-08 09:50:44,567 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,567 INFO sqlalchemy.engine.base.Engine (8,)
2021-03-08 09:50:44,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,569 INFO sqlalchemy.engine.base.Engine (9,)
2021-03-08 09:50:44,573 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,573 INFO sqlalchemy.engine.base.Engine (10,)
2021-03-08 09:50:44,575 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,576 INFO sqlalchemy.engine.base.Engine (11,)
2021-03-08 09:50:44,578 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,579 INFO sqlalchemy.engine.base.Engine (12,)
2021-03-08 09:50:44,581 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,581 INFO sqlalchemy.engine.base.Engine (13,)
2021-03-08 09:50:44,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:44,586 INFO sqlalchemy.engine.base.Engine (14,)
2021-03-08 09:50:44,588 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,589 INFO sqlalchemy.engine.base.Engine (15,)
2021-03-08 09:50:44,593 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,594 INFO sqlalchemy.engine.base.Engine (16,)
2021-03-08 09:50:44,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,596 INFO sqlalchemy.engine.base.Engine (17,)
2021-03-08 09:50:44,600 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,601 INFO sqlalchemy.engine.base.Engine (18,)
2021-03-08 09:50:44,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,603 INFO sqlalchemy.engine.base.Engine (19,)
2021-03-08 09:50:44,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,607 INFO sqlalchemy.engine.base.Engine (20,)
2021-03-08 09:50:44,608 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,609 INFO sqlalchemy.engine.base.Engine (21,)
2021-03-08 09:50:44,612 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,613 INFO sqlalchemy.engine.base.Engine (22,)
2021-03-08 09:50:44,614 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,615 INFO sqlalchemy.engine.base.Engine (23,)
2021-03-08 09:50:44,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,619 INFO sqlalchemy.engine.base.Engine (24,)
2021-03-08 09:50:44,621 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,622 INFO sqlalchemy.engine.base.Engine (25,)
2021-03-08 09:50:44,627 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,628 INFO sqlalchemy.engine.base.Engine (26,)
2021-03-08 09:50:44,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,630 INFO sqlalchemy.engine.base.Engine (27,)
2021-03-08 09:50:44,633 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,634 INFO sqlalchemy.engine.base.Engine (28,)
2021-03-08 09:50:44,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,636 INFO sqlalchemy.engine.base.Engine (29,)
2021-03-08 09:50:44,639 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,640 INFO sqlalchemy.engine.base.Engine (30,)
2021-03-08 09:50:44,641 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,642 INFO sqlalchemy.engine.base.Engine (31,)
2021-03-08 09:50:44,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,645 INFO sqlalchemy.engine.base.Engine (32,)
2021-03-08 09:50:44,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,647 INFO sqlalchemy.engine.base.Engine (33,)
2021-03-08 09:50:44,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,650 INFO sqlalchemy.engine.base.Engine (34,)
2021-03-08 09:50:44,652 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:44,653 INFO sqlalchemy.engine.base.Engine (35,)
2021-03-08 09:50:44,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,656 INFO sqlalchemy.engine.base.Engine (36,)
2021-03-08 09:50:44,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,658 INFO sqlalchemy.engine.base.Engine (37,)
2021-03-08 09:50:44,661 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,662 INFO sqlalchemy.engine.base.Engine (38,)
2021-03-08 09:50:44,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,664 INFO sqlalchemy.engine.base.Engine (39,)
2021-03-08 09:50:44,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,668 INFO sqlalchemy.engine.base.Engine (40,)
2021-03-08 09:50:44,670 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,671 INFO sqlalchemy.engine.base.Engine (41,)
2021-03-08 09:50:44,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,675 INFO sqlalchemy.engine.base.Engine (42,)
2021-03-08 09:50:44,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,677 INFO sqlalchemy.engine.base.Engine (43,)
2021-03-08 09:50:44,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,681 INFO sqlalchemy.engine.base.Engine (44,)
2021-03-08 09:50:44,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,683 INFO sqlalchemy.engine.base.Engine (45,)
2021-03-08 09:50:44,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,686 INFO sqlalchemy.engine.base.Engine (46,)
2021-03-08 09:50:44,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,689 INFO sqlalchemy.engine.base.Engine (47,)
2021-03-08 09:50:44,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,694 INFO sqlalchemy.engine.base.Engine (48,)
2021-03-08 09:50:44,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,696 INFO sqlalchemy.engine.base.Engine (49,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-03-08 09:50:44,771 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-03-08 09:50:44,772 INFO sqlalchemy.engine.base.Engine ((50, 14.3, 14.3, 14.3, 20.0, 40.0), (51, 51.24117647058824, 51.24117647058824, 51.24117647058824, 20.0, 40.0), (52, 51.24117647058824, 51.24117647058824, 51.24117647058824, 20.0, 40.0), (53, 54.81764705882354, 54.81764705882354, 54.81764705882354, 20.0, 40.0), (54, 54.81764705882354, 54.81764705882354, 54.81764705882354, 20.0, 40.0), (55, 56.55882352941177, 56.55882352941177, 56.55882352941177, 20.0, 40.0), (56, 56.55882352941177, 56.55882352941177, 56.55882352941177, 20.0, 40.0), (57, 58.86470588235295, 58.86470588235295, 58.86470588235295, 20.0, 40.0)  ... displaying 10 of 50 total bound parameter sets ...  (98, 131.47647058823532, 131.47647058823532, 131.47647058823532, 20.0, 40.0), (99, 135.9, 135.9, 135.9, 20.0, 40.0))
2021-03-08 09:50:44,775 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id, length, diameter) VALUES (?, ?, ?)
2021-03-08 09:50:44,775 INFO sqlalchemy.engine.base.Engine ('F2', 0.0, 0.0)
2021-03-08 09:50:44,778 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-03-08 09:50:44,779 INFO sqlalchemy.engine.base.Engine ((25, 'F2', 0, 'Anhydrite', 50, 51), (26, 'F2', 1, 'Sandstone, grey, vf-f', 52, 53), (27, 'F2', 2, 'Anhydrite', 54, 55), (28, 'F2', 3, 'Dolomite', 56, 57), (29, 'F2', 4, 'Anhydrite', 58, 59), (30, 'F2', 5, 'Sandstone, grey, vf-f', 60, 61), (31, 'F2', 6, 'Siltstone, red', 62, 63), (32, 'F2', 7, 'Dolomite', 64, 65)  ... displaying 10 of 25 total bound parameter sets ...  (48, 'F2', 23, 'Limestone', 96, 97), (49, 'F2', 24, 'Volcanic', 98, 99))
2021-03-08 09:50:44,782 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 09:50:44,788 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-08 09:50:44,790 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-03-08 09:50:44,791 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 09:50:44,793 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole

2021-03-08 09:50:44,794 INFO sqlalchemy.engine.base.Engine ('F2',)
2021-03-08 09:50:44,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,798 INFO sqlalchemy.engine.base.Engine (50,)
2021-03-08 09:50:44,799 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,800 INFO sqlalchemy.engine.base.Engine (51,)
2021-03-08 09:50:44,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,805 INFO sqlalchemy.engine.base.Engine (52,)
2021-03-08 09:50:44,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,807 INFO sqlalchemy.engine.base.Engine (53,)
2021-03-08 09:50:44,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,812 INFO sqlalchemy.engine.base.Engine (54,)
2021-03-08 09:50:44,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,814 INFO sqlalchemy.engine.base.Engine (55,)
2021-03-08 09:50:44,817 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,818 INFO sqlalchemy.engine.base.Engine (56,)
2021-03-08 09:50:44,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,820 INFO sqlalchemy.engine.base.Engine (57,)
2021-03-08 09:50:44,824 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,825 INFO sqlalchemy.engine.base.Engine (58,)
2021-03-08 09:50:44,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,827 INFO sqlalchemy.engine.base.Engine (59,)
2021-03-08 09:50:44,831 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,831 INFO sqlalchemy.engine.base.Engine (60,)
2021-03-08 09:50:44,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,833 INFO sqlalchemy.engine.base.Engine (61,)
2021-03-08 09:50:44,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,836 INFO sqlalchemy.engine.base.Engine (62,)
2021-03-08 09:50:44,838 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,839 INFO sqlalchemy.engine.base.Engine (63,)
2021-03-08 09:50:44,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,843 INFO sqlalchemy.engine.base.Engine (64,)
2021-03-08 09:50:44,844 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,845 INFO sqlalchemy.engine.base.Engine (65,)
2021-03-08 09:50:44,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,851 INFO sqlalchemy.engine.base.Engine (66,)
2021-03-08 09:50:44,852 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,853 INFO sqlalchemy.engine.base.Engine (67,)
2021-03-08 09:50:44,857 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,858 INFO sqlalchemy.engine.base.Engine (68,)
2021-03-08 09:50:44,860 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,861 INFO sqlalchemy.engine.base.Engine (69,)
2021-03-08 09:50:44,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:44,865 INFO sqlalchemy.engine.base.Engine (70,)
2021-03-08 09:50:44,867 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,867 INFO sqlalchemy.engine.base.Engine (71,)
2021-03-08 09:50:44,871 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,871 INFO sqlalchemy.engine.base.Engine (72,)
2021-03-08 09:50:44,873 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,873 INFO sqlalchemy.engine.base.Engine (73,)
2021-03-08 09:50:44,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,878 INFO sqlalchemy.engine.base.Engine (74,)
2021-03-08 09:50:44,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,881 INFO sqlalchemy.engine.base.Engine (75,)
2021-03-08 09:50:44,884 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,885 INFO sqlalchemy.engine.base.Engine (76,)
2021-03-08 09:50:44,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,887 INFO sqlalchemy.engine.base.Engine (77,)
2021-03-08 09:50:44,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,891 INFO sqlalchemy.engine.base.Engine (78,)
2021-03-08 09:50:44,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,893 INFO sqlalchemy.engine.base.Engine (79,)
2021-03-08 09:50:44,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,897 INFO sqlalchemy.engine.base.Engine (80,)
2021-03-08 09:50:44,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,899 INFO sqlalchemy.engine.base.Engine (81,)
2021-03-08 09:50:44,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,902 INFO sqlalchemy.engine.base.Engine (82,)
2021-03-08 09:50:44,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,905 INFO sqlalchemy.engine.base.Engine (83,)
2021-03-08 09:50:44,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,910 INFO sqlalchemy.engine.base.Engine (84,)
2021-03-08 09:50:44,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,912 INFO sqlalchemy.engine.base.Engine (85,)
2021-03-08 09:50:44,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,917 INFO sqlalchemy.engine.base.Engine (86,)
2021-03-08 09:50:44,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,919 INFO sqlalchemy.engine.base.Engine (87,)
2021-03-08 09:50:44,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,924 INFO sqlalchemy.engine.base.Engine (88,)
2021-03-08 09:50:44,926 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,926 INFO sqlalchemy.engine.base.Engine (89,)
2021-03-08 09:50:44,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,930 INFO sqlalchemy.engine.base.Engine (90,)
2021-03-08 09:50:44,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:44,932 INFO sqlalchemy.engine.base.Engine (91,)
2021-03-08 09:50:44,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,936 INFO sqlalchemy.engine.base.Engine (92,)
2021-03-08 09:50:44,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,938 INFO sqlalchemy.engine.base.Engine (93,)
2021-03-08 09:50:44,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,942 INFO sqlalchemy.engine.base.Engine (94,)
2021-03-08 09:50:44,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,944 INFO sqlalchemy.engine.base.Engine (95,)
2021-03-08 09:50:44,947 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,948 INFO sqlalchemy.engine.base.Engine (96,)
2021-03-08 09:50:44,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,950 INFO sqlalchemy.engine.base.Engine (97,)
2021-03-08 09:50:44,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,954 INFO sqlalchemy.engine.base.Engine (98,)
2021-03-08 09:50:44,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:44,956 INFO sqlalchemy.engine.base.Engine (99,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-03-08 09:50:45,029 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-03-08 09:50:45,030 INFO sqlalchemy.engine.base.Engine ((100, 14.3, 14.3, 14.3, 5.0, 50.0), (101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 5.0, 50.0), (102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 5.0, 50.0), (103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 5.0, 50.0), (104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 5.0, 50.0), (105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 5.0, 50.0), (106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 5.0, 50.0), (107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 5.0, 50.0)  ... displaying 10 of 50 total bound parameter sets ...  (148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 5.0, 50.0), (149, 135.9, 135.9, 135.9, 5.0, 50.0))
2021-03-08 09:50:45,032 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id, length, diameter) VALUES (?, ?, ?)
2021-03-08 09:50:45,033 INFO sqlalchemy.engine.base.Engine ('F3', 0.0, 0.0)
2021-03-08 09:50:45,037 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-03-08 09:50:45,037 INFO sqlalchemy.engine.base.Engine ((50, 'F3', 0, 'Anhydrite', 100, 101), (51, 'F3', 1, 'Sandstone, grey, vf-f', 102, 103), (52, 'F3', 2, 'Anhydrite', 104, 105), (53, 'F3', 3, 'Dolomite', 106, 107), (54, 'F3', 4, 'Anhydrite', 108, 109), (55, 'F3', 5, 'Sandstone, grey, vf-f', 110, 111), (56, 'F3', 6, 'Siltstone, red', 112, 113), (57, 'F3', 7, 'Dolomite', 114, 115)  ... displaying 10 of 25 total bound parameter sets ...  (73, 'F3', 23, 'Limestone', 146, 147), (74, 'F3', 24, 'Volcanic', 148, 149))
2021-03-08 09:50:45,040 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 09:50:45,045 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-08 09:50:45,047 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-03-08 09:50:45,048 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 09:50:45,050 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-03-08 09:50:45,050 INFO sqlalchemy.engine.base.Engine ('F3',)
2021-03-08 09:50:45,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,054 INFO sqlalchemy.engine.base.Engine (100,)
2021-03-08 09:50:45,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,056 INFO sqlalchemy.engine.base.Engine (101,)
2021-03-08 09:50:45,060 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,061 INFO sqlalchemy.engine.base.Engine (102,)
2021-03-08 09:50:45,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,064 INFO sqlalchemy.engine.base.Engine (103,)
2021-03-08 09:50:45,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,069 INFO sqlalchemy.engine.base.Engine (104,)
2021-03-08 09:50:45,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:45,072 INFO sqlalchemy.engine.base.Engine (105,)
2021-03-08 09:50:45,075 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,077 INFO sqlalchemy.engine.base.Engine (106,)
2021-03-08 09:50:45,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,079 INFO sqlalchemy.engine.base.Engine (107,)
2021-03-08 09:50:45,083 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,084 INFO sqlalchemy.engine.base.Engine (108,)
2021-03-08 09:50:45,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,086 INFO sqlalchemy.engine.base.Engine (109,)
2021-03-08 09:50:45,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,091 INFO sqlalchemy.engine.base.Engine (110,)
2021-03-08 09:50:45,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,095 INFO sqlalchemy.engine.base.Engine (111,)
2021-03-08 09:50:45,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,099 INFO sqlalchemy.engine.base.Engine (112,)
2021-03-08 09:50:45,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,102 INFO sqlalchemy.engine.base.Engine (113,)
2021-03-08 09:50:45,106 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,107 INFO sqlalchemy.engine.base.Engine (114,)
2021-03-08 09:50:45,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,109 INFO sqlalchemy.engine.base.Engine (115,)
2021-03-08 09:50:45,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,113 INFO sqlalchemy.engine.base.Engine (116,)
2021-03-08 09:50:45,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,116 INFO sqlalchemy.engine.base.Engine (117,)
2021-03-08 09:50:45,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,121 INFO sqlalchemy.engine.base.Engine (118,)
2021-03-08 09:50:45,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,124 INFO sqlalchemy.engine.base.Engine (119,)
2021-03-08 09:50:45,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,129 INFO sqlalchemy.engine.base.Engine (120,)
2021-03-08 09:50:45,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,131 INFO sqlalchemy.engine.base.Engine (121,)
2021-03-08 09:50:45,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,135 INFO sqlalchemy.engine.base.Engine (122,)
2021-03-08 09:50:45,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,137 INFO sqlalchemy.engine.base.Engine (123,)
2021-03-08 09:50:45,141 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,142 INFO sqlalchemy.engine.base.Engine (124,)
2021-03-08 09:50:45,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,144 INFO sqlalchemy.engine.base.Engine (125,)
2021-03-08 09:50:45,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:45,149 INFO sqlalchemy.engine.base.Engine (126,)
2021-03-08 09:50:45,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,151 INFO sqlalchemy.engine.base.Engine (127,)
2021-03-08 09:50:45,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,156 INFO sqlalchemy.engine.base.Engine (128,)
2021-03-08 09:50:45,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,158 INFO sqlalchemy.engine.base.Engine (129,)
2021-03-08 09:50:45,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,163 INFO sqlalchemy.engine.base.Engine (130,)
2021-03-08 09:50:45,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,165 INFO sqlalchemy.engine.base.Engine (131,)
2021-03-08 09:50:45,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,169 INFO sqlalchemy.engine.base.Engine (132,)
2021-03-08 09:50:45,171 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,171 INFO sqlalchemy.engine.base.Engine (133,)
2021-03-08 09:50:45,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,176 INFO sqlalchemy.engine.base.Engine (134,)
2021-03-08 09:50:45,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,178 INFO sqlalchemy.engine.base.Engine (135,)
2021-03-08 09:50:45,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,183 INFO sqlalchemy.engine.base.Engine (136,)
2021-03-08 09:50:45,184 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,186 INFO sqlalchemy.engine.base.Engine (137,)
2021-03-08 09:50:45,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,190 INFO sqlalchemy.engine.base.Engine (138,)
2021-03-08 09:50:45,192 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,193 INFO sqlalchemy.engine.base.Engine (139,)
2021-03-08 09:50:45,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,198 INFO sqlalchemy.engine.base.Engine (140,)
2021-03-08 09:50:45,199 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,199 INFO sqlalchemy.engine.base.Engine (141,)
2021-03-08 09:50:45,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,203 INFO sqlalchemy.engine.base.Engine (142,)
2021-03-08 09:50:45,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,205 INFO sqlalchemy.engine.base.Engine (143,)
2021-03-08 09:50:45,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,209 INFO sqlalchemy.engine.base.Engine (144,)
2021-03-08 09:50:45,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,211 INFO sqlalchemy.engine.base.Engine (145,)
2021-03-08 09:50:45,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,214 INFO sqlalchemy.engine.base.Engine (146,)
2021-03-08 09:50:45,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:45,217 INFO sqlalchemy.engine.base.Engine (147,)
2021-03-08 09:50:45,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,222 INFO sqlalchemy.engine.base.Engine (148,)
2021-03-08 09:50:45,223 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,224 INFO sqlalchemy.engine.base.Engine (149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-03-08 09:50:45,297 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-03-08 09:50:45,298 INFO sqlalchemy.engine.base.Engine ((150, 14.3, 14.3, 14.3, 10.0, 2.0), (151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 10.0, 2.0), (152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 10.0, 2.0), (153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 10.0, 2.0), (154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 10.0, 2.0), (155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 10.0, 2.0), (156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 10.0, 2.0), (157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 10.0, 2.0)  ... displaying 10 of 50 total bound parameter sets ...  (198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 10.0, 2.0), (199, 135.9, 135.9, 135.9, 10.0, 2.0))
2021-03-08 09:50:45,300 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id, length, diameter) VALUES (?, ?, ?)
2021-03-08 09:50:45,301 INFO sqlalchemy.engine.base.Engine ('F4', 0.0, 0.0)
2021-03-08 09:50:45,305 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-03-08 09:50:45,305 INFO sqlalchemy.engine.base.Engine ((75, 'F4', 0, 'Anhydrite', 150, 151), (76, 'F4', 1, 'Sandstone, grey, vf-f', 152, 153), (77, 'F4', 2, 'Anhydrite', 154, 155), (78, 'F4', 3, 'Dolomite', 156, 157), (79, 'F4', 4, 'Anhydrite', 158, 159), (80, 'F4', 5, 'Sandstone, grey, vf-f', 160, 161), (81, 'F4', 6, 'Siltstone, red', 162, 163), (82, 'F4', 7, 'Dolomite', 164, 165)  ... displaying 10 of 25 total bound parameter sets ...  (98, 'F4', 23, 'Limestone', 196, 197), (99, 'F4', 24, 'Volcanic', 198, 199))
2021-03-08 09:50:45,309 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-08 09:50:45,315 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-08 09:50:45,316 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-03-08 09:50:45,317 INFO sqlalchemy.engine.base.Engine ()
2021-03-08 09:50:45,319 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-03-08 09:50:45,320 INFO sqlalchemy.engine.base.Engine ('F4',)
2021-03-08 09:50:45,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,323 INFO sqlalchemy.engine.base.Engine (150,)
2021-03-08 09:50:45,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,327 INFO sqlalchemy.engine.base.Engine (151,)
2021-03-08 09:50:45,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,332 INFO sqlalchemy.engine.base.Engine (152,)
2021-03-08 09:50:45,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,334 INFO sqlalchemy.engine.base.Engine (153,)
2021-03-08 09:50:45,338 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,339 INFO sqlalchemy.engine.base.Engine (154,)
2021-03-08 09:50:45,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,342 INFO sqlalchemy.engine.base.Engine (155,)
2021-03-08 09:50:45,346 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,347 INFO sqlalchemy.engine.base.Engine (156,)
2021-03-08 09:50:45,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,349 INFO sqlalchemy.engine.base.Engine (157,)
2021-03-08 09:50:45,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,355 INFO sqlalchemy.engine.base.Engine (158,)
2021-03-08 09:50:45,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,358 INFO sqlalchemy.engine.base.Engine (159,)
2021-03-08 09:50:45,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,363 INFO sqlalchemy.engine.base.Engine (160,)
2021-03-08 09:50:45,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:45,366 INFO sqlalchemy.engine.base.Engine (161,)
2021-03-08 09:50:45,370 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,371 INFO sqlalchemy.engine.base.Engine (162,)
2021-03-08 09:50:45,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,373 INFO sqlalchemy.engine.base.Engine (163,)
2021-03-08 09:50:45,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,377 INFO sqlalchemy.engine.base.Engine (164,)
2021-03-08 09:50:45,378 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,379 INFO sqlalchemy.engine.base.Engine (165,)
2021-03-08 09:50:45,382 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,382 INFO sqlalchemy.engine.base.Engine (166,)
2021-03-08 09:50:45,383 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,384 INFO sqlalchemy.engine.base.Engine (167,)
2021-03-08 09:50:45,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,388 INFO sqlalchemy.engine.base.Engine (168,)
2021-03-08 09:50:45,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,391 INFO sqlalchemy.engine.base.Engine (169,)
2021-03-08 09:50:45,395 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,396 INFO sqlalchemy.engine.base.Engine (170,)
2021-03-08 09:50:45,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,398 INFO sqlalchemy.engine.base.Engine (171,)
2021-03-08 09:50:45,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,402 INFO sqlalchemy.engine.base.Engine (172,)
2021-03-08 09:50:45,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,405 INFO sqlalchemy.engine.base.Engine (173,)
2021-03-08 09:50:45,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,408 INFO sqlalchemy.engine.base.Engine (174,)
2021-03-08 09:50:45,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,411 INFO sqlalchemy.engine.base.Engine (175,)
2021-03-08 09:50:45,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,415 INFO sqlalchemy.engine.base.Engine (176,)
2021-03-08 09:50:45,417 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,418 INFO sqlalchemy.engine.base.Engine (177,)
2021-03-08 09:50:45,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,422 INFO sqlalchemy.engine.base.Engine (178,)
2021-03-08 09:50:45,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,425 INFO sqlalchemy.engine.base.Engine (179,)
2021-03-08 09:50:45,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,428 INFO sqlalchemy.engine.base.Engine (180,)
2021-03-08 09:50:45,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,431 INFO sqlalchemy.engine.base.Engine (181,)
2021-03-08 09:50:45,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-03-08 09:50:45,434 INFO sqlalchemy.engine.base.Engine (182,)
2021-03-08 09:50:45,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,437 INFO sqlalchemy.engine.base.Engine (183,)
2021-03-08 09:50:45,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,441 INFO sqlalchemy.engine.base.Engine (184,)
2021-03-08 09:50:45,443 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,444 INFO sqlalchemy.engine.base.Engine (185,)
2021-03-08 09:50:45,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,449 INFO sqlalchemy.engine.base.Engine (186,)
2021-03-08 09:50:45,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,451 INFO sqlalchemy.engine.base.Engine (187,)
2021-03-08 09:50:45,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,454 INFO sqlalchemy.engine.base.Engine (188,)
2021-03-08 09:50:45,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,456 INFO sqlalchemy.engine.base.Engine (189,)
2021-03-08 09:50:45,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,461 INFO sqlalchemy.engine.base.Engine (190,)
2021-03-08 09:50:45,463 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,464 INFO sqlalchemy.engine.base.Engine (191,)
2021-03-08 09:50:45,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,467 INFO sqlalchemy.engine.base.Engine (192,)
2021-03-08 09:50:45,469 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,469 INFO sqlalchemy.engine.base.Engine (193,)
2021-03-08 09:50:45,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,473 INFO sqlalchemy.engine.base.Engine (194,)
2021-03-08 09:50:45,475 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,475 INFO sqlalchemy.engine.base.Engine (195,)
2021-03-08 09:50:45,479 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,479 INFO sqlalchemy.engine.base.Engine (196,)
2021-03-08 09:50:45,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,482 INFO sqlalchemy.engine.base.Engine (197,)
2021-03-08 09:50:45,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,487 INFO sqlalchemy.engine.base.Engine (198,)
2021-03-08 09:50:45,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-03-08 09:50:45,489 INFO sqlalchemy.engine.base.Engine (199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !

In [11]:
p.commit()

2021-03-08 09:50:45,572 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
p.boreholes[0].intervals[0].description

2021-03-08 09:50:45,579 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-08 09:50:45,581 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
WHERE "Boreholes".id = ?
2021-03-08 09:50:45,582 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-03-08 09:50:45,584 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-03-08 09:50:45,585 INFO sqlalchemy.engine.base.Engine ('F1',)

'Anhydrite'

In [13]:
session.close()

2021-03-08 09:50:45,593 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [14]:
p.plot3d(x3d=True)