# Using the ORM to store several boreholes

Imports

In [1]:
from os import remove
from utils.io import boreholes_from_files, striplog_from_text
from core.project import Project
from core.orm import BoreholeOrm, PositionOrm, Base
from striplog import Lexicon, Striplog
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from definitions import ROOT_DIR

In [2]:
remove('tmp_files/tfe_orm_db.db')

Create the db engine and the database structure

In [3]:
engine = create_engine('sqlite:///tmp_files/tfe_orm_db.db', echo=True)

In [4]:
Base.metadata.create_all(engine)

2021-04-30 21:29:25,443 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-04-30 21:29:25,446 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,448 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-04-30 21:29:25,450 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,453 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Boreholes")
2021-04-30 21:29:25,454 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,457 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Boreholes")
2021-04-30 21:29:25,459 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,461 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Positions")
2021-04-30 21:29:25,462 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,464 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Positions")
2021-04-30 21:29:25,465 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,467 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Intervals")
2021-04-30 21:29:25,468 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,469 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Intervals")
2021-04-30 21:29:25,470 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,471 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Components")
2021-04-30 21:29:25,472 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,473 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Components")
2021-04-30 21:29:25,474 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,475 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Linkintervalcomponent")
2021-04-30 21:29:25,476 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,477 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Linkintervalcomponent")
2021-04-30 21:29:25,478 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,480 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Boreholes" (
	id VARCHAR(32) NOT NULL,
	length FLOAT,
	diameter FLOAT,
	PRIMARY KEY (id)
)


2021-04-30 21:29:25,482 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,487 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:29:25,488 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Positions" (
	id INTEGER NOT NULL,
	upper FLOAT,
	middle FLOAT,
	lower FLOAT,
	x FLOAT,
	y FLOAT,
	PRIMARY KEY (id)
)


2021-04-30 21:29:25,489 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,495 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:29:25,496 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Components" (
	id INTEGER NOT NULL,
	description VARCHAR(32),
	PRIMARY KEY (id)
)


2021-04-30 21:29:25,498 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,503 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:29:25,504 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Intervals" (
	id INTEGER NOT NULL,
	borehole VARCHAR(32),
	interval_number INTEGER,
	description VARCHAR(32),
	top_id INTEGER,
	base_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(borehole) REFERENCES "Boreholes" (id),
	FOREIGN KEY(top_id) REFERENCES "Positions" (id),
	FOREIGN KEY(base_id) REFERENCES "Positions" (id)
)


2021-04-30 21:29:25,506 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,511 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:29:25,513 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Linkintervalcomponent" (
	int_id INTEGER NOT NULL,
	comp_id INTEGER NOT NULL,
	extra_data VARCHAR(256),
	PRIMARY KEY (int_id, comp_id),
	FOREIGN KEY(int_id) REFERENCES "Intervals" (id),
	FOREIGN KEY(comp_id) REFERENCES "Components" (id)
)


2021-04-30 21:29:25,514 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:29:25,520 INFO sqlalchemy.engine.base.Engine COMMIT

### Create the objects from las files

In [5]:
lexicon = Lexicon.default()

In [6]:
borehole_dict = {'F1':ROOT_DIR+'/data/test.las'}#, 'F2':ROOT_DIR+'/data/test.csv'} # boreholes to insert into the db

In [11]:
boreholes, components, intv_comp = boreholes_from_files(borehole_dict, verbose=0)
len(boreholes)

File 0 processing...
================================
bh: F2, pos: 1
bh: F3, pos: 2
bh: F4, pos: 3

4

Create the session

In [12]:
Session = sessionmaker(bind=engine)
session = Session()

Create the project

In [13]:
p = Project(session)
p.add_components(components)

2021-04-30 21:30:57,738 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-30 21:30:57,740 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-04-30 21:30:57,742 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:30:57,750 INFO sqlalchemy.engine.base.Engine INSERT INTO "Components" (id, description) VALUES (?, ?)
2021-04-30 21:30:57,751 INFO sqlalchemy.engine.base.Engine ((0, 'Siltstone, grey'), (1, 'Anhydrite'), (2, 'Sandstone, vf-f, grey'), (3, 'Dolomite'), (4, 'Siltstone, red'), (5, 'Limestone'))
2021-04-30 21:30:57,755 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:30:57,761 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-30 21:30:57,762 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-04-30 21:30:57,763 INFO sqlalchemy.engine.base.Engine ()

Add boreholes into the database

In [14]:
for bh in boreholes:
    p.add_borehole(bh)

2021-04-30 21:31:01,402 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-04-30 21:31:01,405 INFO sqlalchemy.engine.base.Engine ((0, 14.3, 14.3, 14.3, 0.0, 0.0), (1, 51.24117647058824, 51.24117647058824, 51.24117647058824, 0.0, 0.0), (2, 51.24117647058824, 51.24117647058824, 51.24117647058824, 0.0, 0.0), (3, 54.81764705882354, 54.81764705882354, 54.81764705882354, 0.0, 0.0), (4, 54.81764705882354, 54.81764705882354, 54.81764705882354, 0.0, 0.0), (5, 56.55882352941177, 56.55882352941177, 56.55882352941177, 0.0, 0.0), (6, 56.55882352941177, 56.55882352941177, 56.55882352941177, 0.0, 0.0), (7, 58.86470588235295, 58.86470588235295, 58.86470588235295, 0.0, 0.0)  ... displaying 10 of 50 total bound parameter sets ...  (48, 131.47647058823532, 131.47647058823532, 131.47647058823532, 0.0, 0.0), (49, 135.9, 135.9, 135.9, 0.0, 0.0))
2021-04-30 21:31:01,410 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id, length, diameter) VALUES (?, ?, ?)
2021-04-30 21:31:01,412 INFO sqlalchemy.engine.base.Engine ('F1', 0.0, 0.0)
2021-04-30 21:31:01,418 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-04-30 21:31:01,420 INFO sqlalchemy.engine.base.Engine ((0, 'F1', 0, 'Anhydrite', 0, 1), (1, 'F1', 1, 'Sandstone, grey, vf-f', 2, 3), (2, 'F1', 2, 'Anhydrite', 4, 5), (3, 'F1', 3, 'Dolomite', 6, 7), (4, 'F1', 4, 'Anhydrite', 8, 9), (5, 'F1', 5, 'Sandstone, grey, vf-f', 10, 11), (6, 'F1', 6, 'Siltstone, red', 12, 13), (7, 'F1', 7, 'Dolomite', 14, 15)  ... displaying 10 of 25 total bound parameter sets ...  (23, 'F1', 23, 'Limestone', 46, 47), (24, 'F1', 24, 'Volcanic', 48, 49))
2021-04-30 21:31:01,424 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:31:01,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-30 21:31:01,431 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-04-30 21:31:01,431 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:31:01,435 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-04-30 21:31:01,436 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-04-30 21:31:01,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,441 INFO sqlalchemy.engine.base.Engine (0,)
2021-04-30 21:31:01,444 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,446 INFO sqlalchemy.engine.base.Engine (1,)
2021-04-30 21:31:01,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,466 INFO sqlalchemy.engine.base.Engine (2,)
2021-04-30 21:31:01,469 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,470 INFO sqlalchemy.engine.base.Engine (3,)
2021-04-30 21:31:01,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,474 INFO sqlalchemy.engine.base.Engine (4,)
2021-04-30 21:31:01,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,477 INFO sqlalchemy.engine.base.Engine (5,)
2021-04-30 21:31:01,479 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,481 INFO sqlalchemy.engine.base.Engine (6,)
2021-04-30 21:31:01,482 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,483 INFO sqlalchemy.engine.base.Engine (7,)
2021-04-30 21:31:01,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,487 INFO sqlalchemy.engine.base.Engine (8,)
2021-04-30 21:31:01,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,489 INFO sqlalchemy.engine.base.Engine (9,)
2021-04-30 21:31:01,491 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,492 INFO sqlalchemy.engine.base.Engine (10,)
2021-04-30 21:31:01,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,494 INFO sqlalchemy.engine.base.Engine (11,)
2021-04-30 21:31:01,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,497 INFO sqlalchemy.engine.base.Engine (12,)
2021-04-30 21:31:01,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,500 INFO sqlalchemy.engine.base.Engine (13,)
2021-04-30 21:31:01,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-04-30 21:31:01,505 INFO sqlalchemy.engine.base.Engine (14,)
2021-04-30 21:31:01,508 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,509 INFO sqlalchemy.engine.base.Engine (15,)
2021-04-30 21:31:01,511 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,512 INFO sqlalchemy.engine.base.Engine (16,)
2021-04-30 21:31:01,514 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,515 INFO sqlalchemy.engine.base.Engine (17,)
2021-04-30 21:31:01,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,518 INFO sqlalchemy.engine.base.Engine (18,)
2021-04-30 21:31:01,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,520 INFO sqlalchemy.engine.base.Engine (19,)
2021-04-30 21:31:01,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,524 INFO sqlalchemy.engine.base.Engine (20,)
2021-04-30 21:31:01,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,526 INFO sqlalchemy.engine.base.Engine (21,)
2021-04-30 21:31:01,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,531 INFO sqlalchemy.engine.base.Engine (22,)
2021-04-30 21:31:01,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,534 INFO sqlalchemy.engine.base.Engine (23,)
2021-04-30 21:31:01,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,537 INFO sqlalchemy.engine.base.Engine (24,)
2021-04-30 21:31:01,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,539 INFO sqlalchemy.engine.base.Engine (25,)
2021-04-30 21:31:01,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,541 INFO sqlalchemy.engine.base.Engine (26,)
2021-04-30 21:31:01,543 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,544 INFO sqlalchemy.engine.base.Engine (27,)
2021-04-30 21:31:01,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,548 INFO sqlalchemy.engine.base.Engine (28,)
2021-04-30 21:31:01,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,551 INFO sqlalchemy.engine.base.Engine (29,)
2021-04-30 21:31:01,554 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,554 INFO sqlalchemy.engine.base.Engine (30,)
2021-04-30 21:31:01,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,557 INFO sqlalchemy.engine.base.Engine (31,)
2021-04-30 21:31:01,560 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,560 INFO sqlalchemy.engine.base.Engine (32,)
2021-04-30 21:31:01,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,564 INFO sqlalchemy.engine.base.Engine (33,)
2021-04-30 21:31:01,567 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,567 INFO sqlalchemy.engine.base.Engine (34,)
2021-04-30 21:31:01,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-04-30 21:31:01,570 INFO sqlalchemy.engine.base.Engine (35,)
2021-04-30 21:31:01,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,572 INFO sqlalchemy.engine.base.Engine (36,)
2021-04-30 21:31:01,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,575 INFO sqlalchemy.engine.base.Engine (37,)
2021-04-30 21:31:01,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,578 INFO sqlalchemy.engine.base.Engine (38,)
2021-04-30 21:31:01,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,581 INFO sqlalchemy.engine.base.Engine (39,)
2021-04-30 21:31:01,583 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,584 INFO sqlalchemy.engine.base.Engine (40,)
2021-04-30 21:31:01,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,587 INFO sqlalchemy.engine.base.Engine (41,)
2021-04-30 21:31:01,589 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,590 INFO sqlalchemy.engine.base.Engine (42,)
2021-04-30 21:31:01,592 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,593 INFO sqlalchemy.engine.base.Engine (43,)
2021-04-30 21:31:01,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,597 INFO sqlalchemy.engine.base.Engine (44,)
2021-04-30 21:31:01,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,600 INFO sqlalchemy.engine.base.Engine (45,)
2021-04-30 21:31:01,603 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,603 INFO sqlalchemy.engine.base.Engine (46,)
2021-04-30 21:31:01,605 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,606 INFO sqlalchemy.engine.base.Engine (47,)
2021-04-30 21:31:01,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,610 INFO sqlalchemy.engine.base.Engine (48,)
2021-04-30 21:31:01,612 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,613 INFO sqlalchemy.engine.base.Engine (49,)
No given legend or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-04-30 21:31:01,682 INFO sqlalchemy.engine.base.Engine UPDATE "Boreholes" SET length=? WHERE "Boreholes".id = ?
2021-04-30 21:31:01,683 INFO sqlalchemy.engine.base.Engine (135.9, 'F1')
2021-04-30 21:31:01,686 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id, length, diameter) VALUES (?, ?, ?)
2021-04-30 21:31:01,687 INFO sqlalchemy.engine.base.Engine ('F2', 0.0, 0.0)
2021-04-30 21:31:01,690 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-04-30 21:31:01,691 INFO sqlalchemy.engine.base.Engine ((50, 14.3, 14.3, 14.3, 20.0, 40.0), (51, 51.24117647058824, 51.24117647058824, 51.24117647058824, 20.0, 40.0), (52, 51.24117647058824, 51.24117647058824, 51.24117647058824, 20.0, 40.0), (53, 54.81764705882354, 54.81764705882354, 54.81764705882354, 20.0, 40.0), (54, 54.81764705882354, 54.81764705882354, 54.81764705882354, 20.0, 40.0), (55, 56.55882352941177, 56.55882352941177, 56.55882352941177, 20.0, 40.0), (56, 56.55882352941177, 56.55882352941177, 56.55882352941177, 20.0, 40.0), (57, 58.86470588235295, 58.86470588235295, 58.86470588235295, 20.0, 40.0)  ... displaying 10 of 50 total bound parameter sets ...  (98, 131.47647058823532, 131.47647058823532, 131.47647058823532, 20.0, 40.0), (99, 135.9, 135.9, 135.9, 20.0, 40.0))
2021-04-30 21:31:01,696 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-04-30 21:31:01,697 INFO sqlalchemy.engine.base.Engine ((25, 'F2', 0, 'Anhydrite', 50, 51), (26, 'F2', 1, 'Sandstone, grey, vf-f', 52, 53), (27, 'F2', 2, 'Anhydrite', 54, 55), (28, 'F2', 3, 'Dolomite', 56, 57), (29, 'F2', 4, 'Anhydrite', 58, 59), (30, 'F2', 5, 'Sandstone, grey, vf-f', 60, 61), (31, 'F2', 6, 'Siltstone, red', 62, 63), (32, 'F2', 7, 'Dolomite', 64, 65)  ... displaying 10 of 25 total bound parameter sets ...  (48, 'F2', 23, 'Limestone', 96, 97), (49, 'F2', 24, 'Volcanic', 98, 99))
2021-04-30 21:31:01,700 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:31:01,707 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-30 21:31:01,710 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-04-30 21:31:01,712 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:31:01,715 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole

2021-04-30 21:31:01,717 INFO sqlalchemy.engine.base.Engine ('F2',)
2021-04-30 21:31:01,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,720 INFO sqlalchemy.engine.base.Engine (50,)
2021-04-30 21:31:01,722 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,723 INFO sqlalchemy.engine.base.Engine (51,)
2021-04-30 21:31:01,726 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,727 INFO sqlalchemy.engine.base.Engine (52,)
2021-04-30 21:31:01,729 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,729 INFO sqlalchemy.engine.base.Engine (53,)
2021-04-30 21:31:01,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,732 INFO sqlalchemy.engine.base.Engine (54,)
2021-04-30 21:31:01,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,735 INFO sqlalchemy.engine.base.Engine (55,)
2021-04-30 21:31:01,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,738 INFO sqlalchemy.engine.base.Engine (56,)
2021-04-30 21:31:01,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,741 INFO sqlalchemy.engine.base.Engine (57,)
2021-04-30 21:31:01,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,745 INFO sqlalchemy.engine.base.Engine (58,)
2021-04-30 21:31:01,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,748 INFO sqlalchemy.engine.base.Engine (59,)
2021-04-30 21:31:01,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,751 INFO sqlalchemy.engine.base.Engine (60,)
2021-04-30 21:31:01,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,753 INFO sqlalchemy.engine.base.Engine (61,)
2021-04-30 21:31:01,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,755 INFO sqlalchemy.engine.base.Engine (62,)
2021-04-30 21:31:01,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,758 INFO sqlalchemy.engine.base.Engine (63,)
2021-04-30 21:31:01,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,762 INFO sqlalchemy.engine.base.Engine (64,)
2021-04-30 21:31:01,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,764 INFO sqlalchemy.engine.base.Engine (65,)
2021-04-30 21:31:01,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,767 INFO sqlalchemy.engine.base.Engine (66,)
2021-04-30 21:31:01,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,770 INFO sqlalchemy.engine.base.Engine (67,)
2021-04-30 21:31:01,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,772 INFO sqlalchemy.engine.base.Engine (68,)
2021-04-30 21:31:01,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,777 INFO sqlalchemy.engine.base.Engine (69,)
2021-04-30 21:31:01,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-04-30 21:31:01,780 INFO sqlalchemy.engine.base.Engine (70,)
2021-04-30 21:31:01,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,784 INFO sqlalchemy.engine.base.Engine (71,)
2021-04-30 21:31:01,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,788 INFO sqlalchemy.engine.base.Engine (72,)
2021-04-30 21:31:01,790 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,791 INFO sqlalchemy.engine.base.Engine (73,)
2021-04-30 21:31:01,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,795 INFO sqlalchemy.engine.base.Engine (74,)
2021-04-30 21:31:01,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,798 INFO sqlalchemy.engine.base.Engine (75,)
2021-04-30 21:31:01,801 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,802 INFO sqlalchemy.engine.base.Engine (76,)
2021-04-30 21:31:01,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,806 INFO sqlalchemy.engine.base.Engine (77,)
2021-04-30 21:31:01,809 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,810 INFO sqlalchemy.engine.base.Engine (78,)
2021-04-30 21:31:01,812 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,813 INFO sqlalchemy.engine.base.Engine (79,)
2021-04-30 21:31:01,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,817 INFO sqlalchemy.engine.base.Engine (80,)
2021-04-30 21:31:01,819 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,820 INFO sqlalchemy.engine.base.Engine (81,)
2021-04-30 21:31:01,823 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,824 INFO sqlalchemy.engine.base.Engine (82,)
2021-04-30 21:31:01,826 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,827 INFO sqlalchemy.engine.base.Engine (83,)
2021-04-30 21:31:01,830 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,831 INFO sqlalchemy.engine.base.Engine (84,)
2021-04-30 21:31:01,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,834 INFO sqlalchemy.engine.base.Engine (85,)
2021-04-30 21:31:01,837 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,838 INFO sqlalchemy.engine.base.Engine (86,)
2021-04-30 21:31:01,841 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,841 INFO sqlalchemy.engine.base.Engine (87,)
2021-04-30 21:31:01,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,845 INFO sqlalchemy.engine.base.Engine (88,)
2021-04-30 21:31:01,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,848 INFO sqlalchemy.engine.base.Engine (89,)
2021-04-30 21:31:01,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,851 INFO sqlalchemy.engine.base.Engine (90,)
2021-04-30 21:31:01,854 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-04-30 21:31:01,855 INFO sqlalchemy.engine.base.Engine (91,)
2021-04-30 21:31:01,858 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,859 INFO sqlalchemy.engine.base.Engine (92,)
2021-04-30 21:31:01,861 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,862 INFO sqlalchemy.engine.base.Engine (93,)
2021-04-30 21:31:01,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,865 INFO sqlalchemy.engine.base.Engine (94,)
2021-04-30 21:31:01,867 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,868 INFO sqlalchemy.engine.base.Engine (95,)
2021-04-30 21:31:01,871 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,871 INFO sqlalchemy.engine.base.Engine (96,)
2021-04-30 21:31:01,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,875 INFO sqlalchemy.engine.base.Engine (97,)
2021-04-30 21:31:01,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,878 INFO sqlalchemy.engine.base.Engine (98,)
2021-04-30 21:31:01,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,881 INFO sqlalchemy.engine.base.Engine (99,)
No given legend or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-04-30 21:31:01,947 INFO sqlalchemy.engine.base.Engine UPDATE "Boreholes" SET length=? WHERE "Boreholes".id = ?
2021-04-30 21:31:01,949 INFO sqlalchemy.engine.base.Engine (135.9, 'F2')
2021-04-30 21:31:01,951 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id, length, diameter) VALUES (?, ?, ?)
2021-04-30 21:31:01,952 INFO sqlalchemy.engine.base.Engine ('F3', 0.0, 0.0)
2021-04-30 21:31:01,956 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-04-30 21:31:01,957 INFO sqlalchemy.engine.base.Engine ((100, 14.3, 14.3, 14.3, 5.0, 50.0), (101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 5.0, 50.0), (102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 5.0, 50.0), (103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 5.0, 50.0), (104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 5.0, 50.0), (105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 5.0, 50.0), (106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 5.0, 50.0), (107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 5.0, 50.0)  ... displaying 10 of 50 total bound parameter sets ...  (148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 5.0, 50.0), (149, 135.9, 135.9, 135.9, 5.0, 50.0))
2021-04-30 21:31:01,962 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-04-30 21:31:01,964 INFO sqlalchemy.engine.base.Engine ((50, 'F3', 0, 'Anhydrite', 100, 101), (51, 'F3', 1, 'Sandstone, grey, vf-f', 102, 103), (52, 'F3', 2, 'Anhydrite', 104, 105), (53, 'F3', 3, 'Dolomite', 106, 107), (54, 'F3', 4, 'Anhydrite', 108, 109), (55, 'F3', 5, 'Sandstone, grey, vf-f', 110, 111), (56, 'F3', 6, 'Siltstone, red', 112, 113), (57, 'F3', 7, 'Dolomite', 114, 115)  ... displaying 10 of 25 total bound parameter sets ...  (73, 'F3', 23, 'Limestone', 146, 147), (74, 'F3', 24, 'Volcanic', 148, 149))
2021-04-30 21:31:01,967 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:31:01,976 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-30 21:31:01,978 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-04-30 21:31:01,980 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:31:01,983 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-04-30 21:31:01,984 INFO sqlalchemy.engine.base.Engine ('F3',)
2021-04-30 21:31:01,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,988 INFO sqlalchemy.engine.base.Engine (100,)
2021-04-30 21:31:01,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,991 INFO sqlalchemy.engine.base.Engine (101,)
2021-04-30 21:31:01,993 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,994 INFO sqlalchemy.engine.base.Engine (102,)
2021-04-30 21:31:01,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:01,998 INFO sqlalchemy.engine.base.Engine (103,)
2021-04-30 21:31:01,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,001 INFO sqlalchemy.engine.base.Engine (104,)
2021-04-30 21:31:02,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-04-30 21:31:02,004 INFO sqlalchemy.engine.base.Engine (105,)
2021-04-30 21:31:02,007 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,007 INFO sqlalchemy.engine.base.Engine (106,)
2021-04-30 21:31:02,010 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,011 INFO sqlalchemy.engine.base.Engine (107,)
2021-04-30 21:31:02,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,015 INFO sqlalchemy.engine.base.Engine (108,)
2021-04-30 21:31:02,016 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,017 INFO sqlalchemy.engine.base.Engine (109,)
2021-04-30 21:31:02,019 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,021 INFO sqlalchemy.engine.base.Engine (110,)
2021-04-30 21:31:02,023 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,023 INFO sqlalchemy.engine.base.Engine (111,)
2021-04-30 21:31:02,026 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,027 INFO sqlalchemy.engine.base.Engine (112,)
2021-04-30 21:31:02,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,030 INFO sqlalchemy.engine.base.Engine (113,)
2021-04-30 21:31:02,032 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,033 INFO sqlalchemy.engine.base.Engine (114,)
2021-04-30 21:31:02,035 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,036 INFO sqlalchemy.engine.base.Engine (115,)
2021-04-30 21:31:02,038 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,039 INFO sqlalchemy.engine.base.Engine (116,)
2021-04-30 21:31:02,041 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,042 INFO sqlalchemy.engine.base.Engine (117,)
2021-04-30 21:31:02,044 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,045 INFO sqlalchemy.engine.base.Engine (118,)
2021-04-30 21:31:02,047 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,047 INFO sqlalchemy.engine.base.Engine (119,)
2021-04-30 21:31:02,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,051 INFO sqlalchemy.engine.base.Engine (120,)
2021-04-30 21:31:02,052 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,053 INFO sqlalchemy.engine.base.Engine (121,)
2021-04-30 21:31:02,055 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,056 INFO sqlalchemy.engine.base.Engine (122,)
2021-04-30 21:31:02,058 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,058 INFO sqlalchemy.engine.base.Engine (123,)
2021-04-30 21:31:02,060 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,062 INFO sqlalchemy.engine.base.Engine (124,)
2021-04-30 21:31:02,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,065 INFO sqlalchemy.engine.base.Engine (125,)
2021-04-30 21:31:02,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-04-30 21:31:02,068 INFO sqlalchemy.engine.base.Engine (126,)
2021-04-30 21:31:02,070 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,071 INFO sqlalchemy.engine.base.Engine (127,)
2021-04-30 21:31:02,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,074 INFO sqlalchemy.engine.base.Engine (128,)
2021-04-30 21:31:02,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,077 INFO sqlalchemy.engine.base.Engine (129,)
2021-04-30 21:31:02,079 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,080 INFO sqlalchemy.engine.base.Engine (130,)
2021-04-30 21:31:02,082 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,082 INFO sqlalchemy.engine.base.Engine (131,)
2021-04-30 21:31:02,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,085 INFO sqlalchemy.engine.base.Engine (132,)
2021-04-30 21:31:02,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,088 INFO sqlalchemy.engine.base.Engine (133,)
2021-04-30 21:31:02,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,091 INFO sqlalchemy.engine.base.Engine (134,)
2021-04-30 21:31:02,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,095 INFO sqlalchemy.engine.base.Engine (135,)
2021-04-30 21:31:02,097 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,098 INFO sqlalchemy.engine.base.Engine (136,)
2021-04-30 21:31:02,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,101 INFO sqlalchemy.engine.base.Engine (137,)
2021-04-30 21:31:02,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,104 INFO sqlalchemy.engine.base.Engine (138,)
2021-04-30 21:31:02,106 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,107 INFO sqlalchemy.engine.base.Engine (139,)
2021-04-30 21:31:02,109 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,110 INFO sqlalchemy.engine.base.Engine (140,)
2021-04-30 21:31:02,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,113 INFO sqlalchemy.engine.base.Engine (141,)
2021-04-30 21:31:02,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,115 INFO sqlalchemy.engine.base.Engine (142,)
2021-04-30 21:31:02,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,118 INFO sqlalchemy.engine.base.Engine (143,)
2021-04-30 21:31:02,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,121 INFO sqlalchemy.engine.base.Engine (144,)
2021-04-30 21:31:02,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,124 INFO sqlalchemy.engine.base.Engine (145,)
2021-04-30 21:31:02,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,127 INFO sqlalchemy.engine.base.Engine (146,)
2021-04-30 21:31:02,129 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-04-30 21:31:02,130 INFO sqlalchemy.engine.base.Engine (147,)
2021-04-30 21:31:02,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,133 INFO sqlalchemy.engine.base.Engine (148,)
2021-04-30 21:31:02,135 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,135 INFO sqlalchemy.engine.base.Engine (149,)
No given legend or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-04-30 21:31:02,203 INFO sqlalchemy.engine.base.Engine UPDATE "Boreholes" SET length=? WHERE "Boreholes".id = ?
2021-04-30 21:31:02,205 INFO sqlalchemy.engine.base.Engine (135.9, 'F3')
2021-04-30 21:31:02,207 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id, length, diameter) VALUES (?, ?, ?)
2021-04-30 21:31:02,208 INFO sqlalchemy.engine.base.Engine ('F4', 0.0, 0.0)
2021-04-30 21:31:02,211 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-04-30 21:31:02,212 INFO sqlalchemy.engine.base.Engine ((150, 14.3, 14.3, 14.3, 10.0, 2.0), (151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 10.0, 2.0), (152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 10.0, 2.0), (153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 10.0, 2.0), (154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 10.0, 2.0), (155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 10.0, 2.0), (156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 10.0, 2.0), (157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 10.0, 2.0)  ... displaying 10 of 50 total bound parameter sets ...  (198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 10.0, 2.0), (199, 135.9, 135.9, 135.9, 10.0, 2.0))
2021-04-30 21:31:02,216 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-04-30 21:31:02,217 INFO sqlalchemy.engine.base.Engine ((75, 'F4', 0, 'Anhydrite', 150, 151), (76, 'F4', 1, 'Sandstone, grey, vf-f', 152, 153), (77, 'F4', 2, 'Anhydrite', 154, 155), (78, 'F4', 3, 'Dolomite', 156, 157), (79, 'F4', 4, 'Anhydrite', 158, 159), (80, 'F4', 5, 'Sandstone, grey, vf-f', 160, 161), (81, 'F4', 6, 'Siltstone, red', 162, 163), (82, 'F4', 7, 'Dolomite', 164, 165)  ... displaying 10 of 25 total bound parameter sets ...  (98, 'F4', 23, 'Limestone', 196, 197), (99, 'F4', 24, 'Volcanic', 198, 199))
2021-04-30 21:31:02,221 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-30 21:31:02,228 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-30 21:31:02,229 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
2021-04-30 21:31:02,230 INFO sqlalchemy.engine.base.Engine ()
2021-04-30 21:31:02,233 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-04-30 21:31:02,234 INFO sqlalchemy.engine.base.Engine ('F4',)
2021-04-30 21:31:02,238 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,239 INFO sqlalchemy.engine.base.Engine (150,)
2021-04-30 21:31:02,241 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,242 INFO sqlalchemy.engine.base.Engine (151,)
2021-04-30 21:31:02,244 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,245 INFO sqlalchemy.engine.base.Engine (152,)
2021-04-30 21:31:02,247 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,248 INFO sqlalchemy.engine.base.Engine (153,)
2021-04-30 21:31:02,251 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,252 INFO sqlalchemy.engine.base.Engine (154,)
2021-04-30 21:31:02,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,255 INFO sqlalchemy.engine.base.Engine (155,)
2021-04-30 21:31:02,258 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,259 INFO sqlalchemy.engine.base.Engine (156,)
2021-04-30 21:31:02,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,262 INFO sqlalchemy.engine.base.Engine (157,)
2021-04-30 21:31:02,264 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,265 INFO sqlalchemy.engine.base.Engine (158,)
2021-04-30 21:31:02,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,268 INFO sqlalchemy.engine.base.Engine (159,)
2021-04-30 21:31:02,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,273 INFO sqlalchemy.engine.base.Engine (160,)

2021-04-30 21:31:02,275 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,276 INFO sqlalchemy.engine.base.Engine (161,)
2021-04-30 21:31:02,278 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,279 INFO sqlalchemy.engine.base.Engine (162,)
2021-04-30 21:31:02,281 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,282 INFO sqlalchemy.engine.base.Engine (163,)
2021-04-30 21:31:02,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,286 INFO sqlalchemy.engine.base.Engine (164,)
2021-04-30 21:31:02,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,289 INFO sqlalchemy.engine.base.Engine (165,)
2021-04-30 21:31:02,291 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,292 INFO sqlalchemy.engine.base.Engine (166,)
2021-04-30 21:31:02,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,294 INFO sqlalchemy.engine.base.Engine (167,)
2021-04-30 21:31:02,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,297 INFO sqlalchemy.engine.base.Engine (168,)
2021-04-30 21:31:02,299 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,299 INFO sqlalchemy.engine.base.Engine (169,)
2021-04-30 21:31:02,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,302 INFO sqlalchemy.engine.base.Engine (170,)
2021-04-30 21:31:02,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,306 INFO sqlalchemy.engine.base.Engine (171,)
2021-04-30 21:31:02,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,309 INFO sqlalchemy.engine.base.Engine (172,)
2021-04-30 21:31:02,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,312 INFO sqlalchemy.engine.base.Engine (173,)
2021-04-30 21:31:02,315 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,315 INFO sqlalchemy.engine.base.Engine (174,)
2021-04-30 21:31:02,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,318 INFO sqlalchemy.engine.base.Engine (175,)
2021-04-30 21:31:02,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,322 INFO sqlalchemy.engine.base.Engine (176,)
2021-04-30 21:31:02,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,324 INFO sqlalchemy.engine.base.Engine (177,)
2021-04-30 21:31:02,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,328 INFO sqlalchemy.engine.base.Engine (178,)
2021-04-30 21:31:02,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,330 INFO sqlalchemy.engine.base.Engine (179,)
2021-04-30 21:31:02,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,333 INFO sqlalchemy.engine.base.Engine (180,)
2021-04-30 21:31:02,336 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-04-30 21:31:02,336 INFO sqlalchemy.engine.base.Engine (181,)
2021-04-30 21:31:02,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,339 INFO sqlalchemy.engine.base.Engine (182,)
2021-04-30 21:31:02,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,342 INFO sqlalchemy.engine.base.Engine (183,)
2021-04-30 21:31:02,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,345 INFO sqlalchemy.engine.base.Engine (184,)
2021-04-30 21:31:02,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,348 INFO sqlalchemy.engine.base.Engine (185,)
2021-04-30 21:31:02,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,353 INFO sqlalchemy.engine.base.Engine (186,)
2021-04-30 21:31:02,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,355 INFO sqlalchemy.engine.base.Engine (187,)
2021-04-30 21:31:02,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,358 INFO sqlalchemy.engine.base.Engine (188,)
2021-04-30 21:31:02,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,361 INFO sqlalchemy.engine.base.Engine (189,)
2021-04-30 21:31:02,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,365 INFO sqlalchemy.engine.base.Engine (190,)
2021-04-30 21:31:02,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,370 INFO sqlalchemy.engine.base.Engine (191,)
2021-04-30 21:31:02,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,374 INFO sqlalchemy.engine.base.Engine (192,)
2021-04-30 21:31:02,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,377 INFO sqlalchemy.engine.base.Engine (193,)
2021-04-30 21:31:02,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,379 INFO sqlalchemy.engine.base.Engine (194,)
2021-04-30 21:31:02,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,382 INFO sqlalchemy.engine.base.Engine (195,)
2021-04-30 21:31:02,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,385 INFO sqlalchemy.engine.base.Engine (196,)
2021-04-30 21:31:02,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,388 INFO sqlalchemy.engine.base.Engine (197,)
2021-04-30 21:31:02,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,391 INFO sqlalchemy.engine.base.Engine (198,)
2021-04-30 21:31:02,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-04-30 21:31:02,393 INFO sqlalchemy.engine.base.Engine (199,)
No given legend or incorrect format ! A default legend will be used
Borehole geometry created successfully !

In [15]:
p.commit()

2021-04-30 21:31:03,790 INFO sqlalchemy.engine.base.Engine UPDATE "Boreholes" SET length=? WHERE "Boreholes".id = ?
2021-04-30 21:31:03,792 INFO sqlalchemy.engine.base.Engine (135.9, 'F4')
2021-04-30 21:31:03,796 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
p.boreholes[0].intervals[0].description

2021-04-30 21:31:04,301 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-30 21:31:04,305 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id", "Boreholes".length AS "Boreholes_length", "Boreholes".diameter AS "Boreholes_diameter"
FROM "Boreholes"
WHERE "Boreholes".id = ?
2021-04-30 21:31:04,307 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-04-30 21:31:04,310 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-04-30 21:31:04,311 INFO sqlalchemy.engine.base.Engine ('F1',)

'Anhydrite'

In [17]:
session.close()

2021-04-30 21:31:08,051 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [18]:
p.plot3d(x3d=True)