In [1]:
from utils.io import gen_id_dated, gdf_viewer, gdf_geom, gdf_merger, na_col_drop, na_line_drop
import re, os
import numpy as np
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
import datetime as dtm
import matplotlib.pyplot as plt
from definitions import ROOT_DIR

In [2]:
t1 = pd.DataFrame({'ID':['id1','id2','id3','id4','id5','id6','id7','id8'],'Name':['A','B','C','D','E','F','G','H'],
                   'Value':[1,2,2,4,np.nan,5,np.nan,8], 'X': [1.,4.,12.,8.,7.,11.,8.,13.], 'Y': [7.,4.,2.,18.,14.,9.,11.,5.]})
t2 = pd.DataFrame({'ID':['id1','id2','id3','id4','id5','id6','id7','id8'],'Name':['A','B','D','C',np.nan,'F','G','h'],
                   'Value':[1,3,2,2,np.nan,np.nan,6,7],'X': [np.nan,4.,12.,8.,7.,11.,8.,13.], 'Y': [np.nan,4.,2.,18.,14.,9.,1.,5.]})

In [3]:
t1.merge(t2, on='ID', how='outer')

    ID Name_x  Value_x   X_x   Y_x Name_y  Value_y   X_y   Y_y
0  id1      A      1.0   1.0   7.0      A      1.0   NaN   NaN
1  id2      B      2.0   4.0   4.0      B      3.0   4.0   4.0
2  id3      C      2.0  12.0   2.0      D      2.0  12.0   2.0
3  id4      D      4.0   8.0  18.0      C      2.0   8.0  18.0
4  id5      E      NaN   7.0  14.0    NaN      NaN   7.0  14.0
5  id6      F      5.0  11.0   9.0      F      NaN  11.0   9.0
6  id7      G      NaN   8.0  11.0      G      6.0   8.0   1.0
7  id8      H      8.0  13.0   5.0      h      7.0  13.0   5.0

In [4]:
m, conflicts = gdf_merger(t1, t2, on='ID', how='outer', dist_max=1.)

   index   ID     Y       Name  Value     X  split_distinct
0      0  id1   7.0          A    1.0   1.0           False
1      1  id2   4.0          B    NaN   4.0           False
2      2  id3   2.0  #conflict    2.0  12.0           False
3      3  id4  18.0  #conflict    NaN   8.0           False
4      4  id5  14.0          E    NaN   7.0           False
5      5  id6   9.0          F    5.0  11.0           False
6      7  id8   5.0          H    NaN  13.0           False
7      0  id7  11.0          G    NaN   8.0            True
8      1  id7   1.0          G    6.0   8.0            True
Ambiguous values present. Please resolve this manually !

In [5]:
m

   index   ID     Y       Name  Value     X  split_distinct
0    0.0  id1   7.0          A    1.0   1.0           False
1    1.0  id2   4.0          B    NaN   4.0           False
2    2.0  id3   2.0  #conflict    2.0  12.0           False
3    3.0  id4  18.0  #conflict    NaN   8.0           False
4    4.0  id5  14.0          E    NaN   7.0           False
5    5.0  id6   9.0          F    5.0  11.0           False
6    7.0  id8   5.0          H    NaN  13.0           False
7    NaN  id7  11.0          G    NaN   8.0            True
8    NaN  id7   1.0          G    6.0   8.0            True

In [6]:
conflicts

    ID  Value_x  Value_y Name_x Name_y  Source_index
1  id2      2.0      3.0      B      B             1
2  id3      2.0      2.0      C      D             2
3  id4      4.0      2.0      D      C             3
7  id8      8.0      7.0      H      h             7