In [1]:
import pandas as pd
from utils.io import find_borehole_by_position

In [2]:
df1 = pd.DataFrame({
    'ID':['F1','F2','F3','F4','F2','F6','F4','F30'], 'X':[0,1,2,3,1,2,6,2], 
    'Y':[1,2,3,4,2,3,7,3], 'Value':['a','b','c','d','e','f','g','h']
})

df2 = pd.DataFrame({
    'ID':['F1','F2','F3','F4','F2','F6','F4','F30'], 'A':[0,1,2,3,1,2,6,2], 
    'B':[1,2,3,4,2,3,7,3], 'Value':['a','b','c','d','e','f','g','h']
})
dfs = [df1, df2]

In [3]:
df1

    ID  X  Y Value
0   F1  0  1     a
1   F2  1  2     b
2   F3  2  3     c
3   F4  3  4     d
4   F2  1  2     e
5   F6  2  3     f
6   F4  6  7     g
7  F30  2  3     h

In [4]:
dfs = find_borehole_by_position(dfs, dist_max=0.5, save_bh_syn=False, display=True,
                                     reg_skip='\d+[a-e]\'?M?$')#, verbose=True)

No boreholes synonyms file or dict found, create a new one.
Processing of dataframe N°0 ...

Synonyms : 1 items
---------

No coordinates (X,Y) found in the dataframe N°1. Skip it !

Index of borehole's ID mofified :

In [5]:
dfs[0]

       ID  X  Y Value
0      F1  0  1     a
1      F2  1  2     b
2      F3  2  3     c
3      F4  3  4     d
4      F2  1  2     e
5      F3  2  3     f
6  F4_mod  6  7     g
7      F3  2  3     h